#  Limpieza tabla usuarios - prueba

In [1]:
import pandas as pd

## Pasos a seguir en la tablas Usuarios:
* Cambiar id por id usaurio 
* Agregar Columna de fecha
* Solo conservar las columnas idusuarios ,active, registered, city, country y fecha
* Concatener las tablas en una sola

In [50]:
paht_1 = '../data/Usuarios/Users-2024-12-01.csv'  # leemos el archivo csv que está en la carpeta data
Usuarios_1 = pd.read_csv(paht_1, sep=";", on_bad_lines='skip')

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_21500\2849837844.py:2: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  Usuarios_1 = pd.read_csv(paht_1, sep=";", on_bad_lines='skip')

In [51]:
# Agregar nueva columna con la fecha del día
Usuarios_1.loc[:, 'fecha'] = '2024-12-01'

In [52]:
paht_2 = '../data/Usuarios/Users-2024-12-02.csv'  # leemos el archivo csv que está en la carpeta data
Usuarios_2 = pd.read_csv(paht_2, sep=";", on_bad_lines='skip')

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_21500\3397228779.py:2: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  Usuarios_2 = pd.read_csv(paht_2, sep=";", on_bad_lines='skip')

In [53]:
# Agregar nueva columna con la fecha del día
Usuarios_2.loc[:, 'fecha'] = '2024-12-02'

In [55]:
Usuarios_2

,id,active,activeTo,login,email,password,salt,registered,campaign,partner,...,comment,removed,oldLogin,partnerActivation,public,tags,deviceCountLimit,devicePairingCount,devicePairingMonth,fecha
0,2887,1,NaN,YOLANDA@GMAIL.COM,YOLANDA@GMAIL.COM,8310b5f97d061a373667fd2d418663bf961a49e1,NaN,2024-10-29 21:56:53,NaN,1331,...,NaN,NaN,NaN,9999-01-01,0,NaN,50,5,0000-00,2024-12-02
1,3217,1,NaN,MARYCAR_1989@HOTMAIL.COM,MARYCAR_1989@HOTMAIL.COM,0e4aec2e0701c7e2eba9d394cfe55bd444a7960e,4edf52dc0cec532a959f,2023-11-13 10:35:37,NaN,1,...,NaN,NaN,NaN,9999-01-01,0,NaN,50,5,0000-00,2024-12-02
2,9076,1,NaN,ANARELYSDELCARMENSANOYA@GMAIL.COM,ANARELYSDELCARMENSANOYA@GMAIL.COM,8310b5f97d061a373667fd2d418663bf961a49e1,NaN,2024-11-01 07:35:57,NaN,1331,...,NaN,NaN,NaN,9999-01-01,0,NaN,50,5,0000-00,2024-12-02
3,13143,1,NaN,NURISROMERO19631@GMAIL.COM,NURISROMERO19631@GMAIL.COM,2b028d56acd0bb9654c5e27b9b5937b793b302df,NaN,2024-04-30 21:56:52,NaN,1327,...,NaN,NaN,NaN,9999-01-01,0,NaN,50,50,2024-04,2024-12-02
4,15176,1,NaN,PINUCCIA81@HOTMAIL.COM,PINUCCIA81@HOTMAIL.COM,cab19843373c53e2890dc6d48b47bf033488b925,5c0f695311b314b0c90a,2023-09-12 14:48:45,NaN,1,...,NaN,NaN,NaN,9999-01-01,0,NaN,50,49,2023-09,2024-12-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367504,1999961837,1,NaN,Jdrm1956@Gmail.Com,Jdrm1956@Gmail.Com,1b84adba1c394882aa4136c844291b67f712219b,NaN,2023-12-10 17:47:57,NaN,1327,...,NaN,NaN,NaN,9999-01-01,0,NaN,50,50,2024-09,2024-12-02
367505,1999962845,1,NaN,ALEXANDERPULGAR2023@GMAIL.COM,ALEXANDERPULGAR2023@GMAIL.COM,8216f54cc93beffce7791f3deebf5703c7d52872,NaN,2024-04-11 12:18:48,NaN,1327,...,NaN,NaN,NaN,9999-01-01,0,NaN,50,50,2024-10,2024-12-02
367506,1999969825,1,NaN,nayreevirguez@hotmail.com,nayreevirguez@hotmail.com,840bd035437f0cf97bb94f33820d84125f7bd459,2062803bf6ab37a4c448,2023-10-27 14:01:42,NaN,1,...,NaN,NaN,NaN,9999-01-01,0,NaN,50,50,2024-07,2024-12-02
367507,1999971733,1,NaN,YNGRIDVEGA1976@GMAIL.COM,YNGRIDVEGA1976@GMAIL.COM,8f52a600c3eb4db763f9a74dff3eaa3b119910ca,34bcde9d22bfa4597704,2024-10-23 09:15:38,NaN,1,...,NaN,NaN,NaN,9999-01-01,0,NaN,50,49,2024-10,2024-12-02
367508,1999988576,1,NaN,CESAR31222@GMAIL.COM,CESAR31222@GMAIL.COM,54a56f67a1756991259d3b734a1c0aeef4cb406a,NaN,2024-10-15 07:52:16,NaN,1327,...,NaN,NaN,NaN,9999-01-01,0,NaN,50,50,2024-10,2024-12-02

In [56]:
paht_3 = '../data/Usuarios/Users-2024-12-03.csv'  # leemos el archivo csv que está en la carpeta data
Usuarios_3 = pd.read_csv(paht_3, sep=";", on_bad_lines='skip')

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_21500\749810018.py:2: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  Usuarios_3 = pd.read_csv(paht_3, sep=";", on_bad_lines='skip')

In [57]:
# Agregar nueva columna con la fecha del día
Usuarios_3.loc[:, 'fecha'] = '2024-12-03'

In [58]:
paht_4 = '../data/Usuarios/Users-2024-12-04.csv'  # leemos el archivo csv que está en la carpeta data
Usuarios_4 = pd.read_csv(paht_4, sep=";", on_bad_lines='skip')

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_21500\832483178.py:2: DtypeWarning: Columns (14,22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  Usuarios_4 = pd.read_csv(paht_4, sep=";", on_bad_lines='skip')

In [59]:
# Agregar nueva columna con la fecha del día
Usuarios_4.loc[:, 'fecha'] = '2024-12-04'

In [60]:
paht_5 = '../data/Usuarios/Users-2024-12-05.csv'  # leemos el archivo csv que está en la carpeta data
Usuarios_5 = pd.read_csv(paht_5, sep=";", on_bad_lines='skip')

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_21500\2352809358.py:2: DtypeWarning: Columns (14,22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  Usuarios_5 = pd.read_csv(paht_5, sep=";", on_bad_lines='skip')

In [61]:
# Agregar nueva columna con la fecha del día
Usuarios_5.loc[:, 'fecha'] = '2024-12-05'

In [62]:
paht_6 = '../data/Usuarios/Users-2024-12-06.csv'  # leemos el archivo csv que está en la carpeta data
Usuarios_6 = pd.read_csv(paht_6, sep=";", on_bad_lines='skip')

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_21500\983062237.py:2: DtypeWarning: Columns (14,22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  Usuarios_6 = pd.read_csv(paht_6, sep=";", on_bad_lines='skip')

In [63]:
# Agregar nueva columna con la fecha del día
Usuarios_6.loc[:, 'fecha'] = '2024-12-06'

In [65]:
paht_7 = '../data/Usuarios/Users-2024-12-06.csv'  # leemos el archivo csv que está en la carpeta data
Usuarios_7= pd.read_csv(paht_7, sep=";", on_bad_lines='skip')

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_21500\1127186215.py:2: DtypeWarning: Columns (14,22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  Usuarios_7= pd.read_csv(paht_7, sep=";", on_bad_lines='skip')

In [66]:
# Agregar nueva columna con la fecha del día
Usuarios_7.loc[:, 'fecha'] = '2024-12-07'

In [67]:

# Combinar los DataFrames
Usuarios_finales = pd.concat([Usuarios_1, Usuarios_2, Usuarios_3, Usuarios_4, Usuarios_5, Usuarios_6, Usuarios_7], ignore_index=True)

In [68]:
Usuarios_finales

,id,active,activeTo,login,email,password,salt,registered,campaign,partner,...,comment,removed,oldLogin,partnerActivation,public,tags,deviceCountLimit,devicePairingCount,devicePairingMonth,fecha
0,2887,1,NaN,YOLANDA@GMAIL.COM,YOLANDA@GMAIL.COM,8310b5f97d061a373667fd2d418663bf961a49e1,NaN,2024-10-29 21:56:53,NaN,1331,...,NaN,NaN,NaN,9999-01-01,0,NaN,50,5,0000-00,2024-12-01
1,3217,1,NaN,MARYCAR_1989@HOTMAIL.COM,MARYCAR_1989@HOTMAIL.COM,0e4aec2e0701c7e2eba9d394cfe55bd444a7960e,4edf52dc0cec532a959f,2023-11-13 10:35:37,NaN,1,...,NaN,NaN,NaN,9999-01-01,0,NaN,50,5,0000-00,2024-12-01
2,9076,1,NaN,ANARELYSDELCARMENSANOYA@GMAIL.COM,ANARELYSDELCARMENSANOYA@GMAIL.COM,8310b5f97d061a373667fd2d418663bf961a49e1,NaN,2024-11-01 07:35:57,NaN,1331,...,NaN,NaN,NaN,9999-01-01,0,NaN,50,5,0000-00,2024-12-01
3,13143,1,NaN,NURISROMERO19631@GMAIL.COM,NURISROMERO19631@GMAIL.COM,2b028d56acd0bb9654c5e27b9b5937b793b302df,NaN,2024-04-30 21:56:52,NaN,1327,...,NaN,NaN,NaN,9999-01-01,0,NaN,50,50,2024-04,2024-12-01
4,15176,1,NaN,PINUCCIA81@HOTMAIL.COM,PINUCCIA81@HOTMAIL.COM,cab19843373c53e2890dc6d48b47bf033488b925,5c0f695311b314b0c90a,2023-09-12 14:48:45,NaN,1,...,NaN,NaN,NaN,9999-01-01,0,NaN,50,49,2023-09,2024-12-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2585255,1999961837,1,NaN,Jdrm1956@Gmail.Com,Jdrm1956@Gmail.Com,1b84adba1c394882aa4136c844291b67f712219b,NaN,2023-12-10 17:47:57,NaN,1327,...,NaN,NaN,NaN,9999-01-01,0,NaN,50,50,2024-09,2024-12-07
2585256,1999962845,1,NaN,ALEXANDERPULGAR2023@GMAIL.COM,ALEXANDERPULGAR2023@GMAIL.COM,8216f54cc93beffce7791f3deebf5703c7d52872,NaN,2024-04-11 12:18:48,NaN,1327,...,NaN,NaN,NaN,9999-01-01,0,NaN,50,50,2024-10,2024-12-07
2585257,1999969825,1,NaN,nayreevirguez@hotmail.com,nayreevirguez@hotmail.com,840bd035437f0cf97bb94f33820d84125f7bd459,2062803bf6ab37a4c448,2023-10-27 14:01:42,NaN,1,...,NaN,NaN,NaN,9999-01-01,0,NaN,50,50,2024-07,2024-12-07
2585258,1999971733,1,NaN,YNGRIDVEGA1976@GMAIL.COM,YNGRIDVEGA1976@GMAIL.COM,8f52a600c3eb4db763f9a74dff3eaa3b119910ca,34bcde9d22bfa4597704,2024-10-23 09:15:38,NaN,1,...,NaN,NaN,NaN,9999-01-01,0,NaN,50,49,2024-10,2024-12-07
2585259,1999988576,1,NaN,CESAR31222@GMAIL.COM,CESAR31222@GMAIL.COM,54a56f67a1756991259d3b734a1c0aeef4cb406a,NaN,2024-10-15 07:52:16,NaN,1327,...,NaN,NaN,NaN,9999-01-01,0,NaN,50,50,2024-10,2024-12-07

In [69]:
# Renombrar la columna 'id' a 'idusuarios' en el DataFrame unido
Usuarios_finales.rename(columns={'id': 'idusuarios'}, inplace=True)

# Conservar solo las columnas especificadas
columnas_a_conservar = ['idusuarios', 'active', 'registered', 'city', 'country',"fecha"]
Usuarios_finales = Usuarios_finales.loc[:, columnas_a_conservar]

In [70]:
Usuarios_finales

,idusuarios,active,registered,city,country,fecha
0,2887,1,2024-10-29 21:56:53,CARACAS,cz,2024-12-01
1,3217,1,2023-11-13 10:35:37,NaN,cz,2024-12-01
2,9076,1,2024-11-01 07:35:57,CARACAS,cz,2024-12-01
3,13143,1,2024-04-30 21:56:52,Cabimas,cz,2024-12-01
4,15176,1,2023-09-12 14:48:45,NaN,cz,2024-12-01
...,...,...,...,...,...,...
2585255,1999961837,1,2023-12-10 17:47:57,Los Teques,ve,2024-12-07
2585256,1999962845,1,2024-04-11 12:18:48,Coro,cz,2024-12-07
2585257,1999969825,1,2023-10-27 14:01:42,NaN,cz,2024-12-07
2585258,1999971733,1,2024-10-23 09:15:38,NaN,ve,2024-12-07
2585259,1999988576,1,2024-10-15 07:52:16,Caracas,ve,2024-12-07

In [71]:


# Eliminar espacios en blanco en la columna 'city'
Usuarios_finales['city'] = Usuarios_finales['city'].str.strip()

# Reemplazar valores NaN en la columna 'city' por 'desconocido'
Usuarios_finales['city'] = Usuarios_finales['city'].fillna('desconocido')

# Mostrar el DataFrame actualizado
print(Usuarios_finales)

         idusuarios  active           registered         city country  \
0              2887       1  2024-10-29 21:56:53      CARACAS      cz
1              3217       1  2023-11-13 10:35:37  desconocido      cz
2              9076       1  2024-11-01 07:35:57      CARACAS      cz
3             13143       1  2024-04-30 21:56:52      Cabimas      cz
4             15176       1  2023-09-12 14:48:45  desconocido      cz
...             ...     ...                  ...          ...     ...
2585255  1999961837       1  2023-12-10 17:47:57   Los Teques      ve
2585256  1999962845       1  2024-04-11 12:18:48         Coro      cz
2585257  1999969825       1  2023-10-27 14:01:42  desconocido      cz
2585258  1999971733       1  2024-10-23 09:15:38  desconocido      ve
2585259  1999988576       1  2024-10-15 07:52:16      Caracas      ve

              fecha
0        2024-12-01
1        2024-12-01
2        2024-12-01
3        2024-12-01
4        2024-12-01
...             ...
2585255  2024-12-07
2585256  2024-12-07
2585257  2024-12-07
2585258  2024-12-07
2585259  2024-12-07

[2585260 rows x 6 columns]

In [72]:
# Convertir todo a minúsculas en la columna 'city'
Usuarios_finales['city'] = Usuarios_finales['city'].str.lower()

In [73]:
# Obtener la cantidad de registros para cada categoría única en la columna 'city'
ciudades_conteo = Usuarios_finales['city'].value_counts()

print("Categorías de ciudades y cantidad de registros:")
print(ciudades_conteo)

Categorías de ciudades y cantidad de registros:
city
desconocido             1416361
caracas                  755770
valencia                  43696
maracay                   26040
margarita                 25739
                         ...
san fernando                  7
11201663                      7
libertador                    7
ed. mar azul t-b              5
cordero lomas blanca          2
Name: count, Length: 250, dtype: int64

In [74]:
# Obtener el número de categorías únicas en la columna 'city'
num_categorias_city = Usuarios_finales['city'].nunique()

print("Número de categorías únicas en la columna 'city':", num_categorias_city)

Número de categorías únicas en la columna 'city': 250

In [75]:
# Obtener las categorías únicas en la columna 'city'
categorias_city = Usuarios_finales['city'].unique()

# Imprimir las categorías únicas
print("Categorías únicas en la columna 'city':")
for categoria in categorias_city:
    print(categoria)

Categorías únicas en la columna 'city':
caracas
desconocido
cabimas
maracay
guarenas
moron
guanare
charallave
barinas
maracaibo
punto fijo
san juan de los morros
la guaira
puerto ordaz
los teques
san cristobal
carora
valencia
churuguara
el tigre
margarita
anaco
valera
cumana
barcelona
guatire
coro
merida
maturin
ciudad bolivar
miranda
acarigua
san cristóbal
cabudare
barquisimeto
san carlos
san felipe
barquisimeto gxtest2al
tucupita
chichiriviche
chivacoa
guacara
montalban
puerto cabello
mérida
el vigia
puerto ayacucho
santiago
palo negro
san fernando de apure
tinaco
tinaquillo
tachira
yaritagua
primero de mayo
capacho
tariba
caracass
los rastrojos
carabobo
naguanagua
venezuela
cumanacoa
el hatillo
carrizal
puerto cabello carabobo
san antonio de los altos
csracas
la tahona
porlamar
san diego
zulia
la paz
maturín
cordero
palmira
ciudad ojeda
turmero
los guayos
maeacay
barquisimeto gxtes2al
edif virrey, calle caurimare , caracas
táriba
la victoria
urb. los cocos sur
la vaquera
ejido
santa rita
cjto. res. ops torre 3
gran caracas
valencia edo. carabobo
carrizal, estado miranda
el tigrito
lecheria
guarenas, miranda
cagua
caracas venezuela
468
bogota
valencia,  naguanagua
sn francisco
chile
cuarenas
zamora
el consejo
puerto la cruz
palavecino
san joaquin
valencia. venezuela
guarenas, edo. miranda
caneyes
municipio sucre
allen
caricuao
san diego de los altos
altagracia de orituco
táchira
vargas
la vela de coro
baruta
miami
carupano
la morita1
pampatar
san rafael de carvajal,/ carvajal
ciudad casarapa
guayana
valencia estado carabobo
tucape
ocumare del tuy
ciudad guayana
san rafael cárdenas tachira venezuela
aragua
libertador
caracas gxtest2al
san francisco
11201663
distrito capital
san fernando
mario briceño iragorry
caracs
mariche
cordero lomas blanca
guatires
san antonio
caracas (miranda)
la victoria edo aragua
la concepcion
san josé d/los altos
maracay.
barcel
valencia , los guayos
13912257
san cristobal edo tachira
el concejo
capacho viejo
cumaná
maracas
el hatillo-la unión
sucre
catia la mar
el consejo estado aragua
guacaipuro
girardot
maiquetía, estado la guaira
valencia, edo. carabobo
libertad
gurenas
baracas
chacao
santa rita maracay
ciudad alianza
san joaquin, estado carabobo
turmero, estado aragua
ciudad bolívar
naguanagua. estado carabobo
cabudare estado lara
san josé de los altos
la candelaria
la victoria aragua
iribarren
puerto cabell
ejido, mérida
30
san joaquin*
san joaquín
275
hhhhhh
cabude
carcas
municipio el hatillo
barquisimeto*
bqto
maracay- turmero
los teqes
valencia, carabobo
nagauanagua
ciudad zamora mzna. 4-f
caracas-baruta
araure
palo negrro
ccs
la concepción
plc
guatire, edo miranda, venezuela
parroquia santa teresa
yagua
san digo
san diego carabobo
santa rita aragua
nagua
ciudad ojeda.
mérida, venezuela
palo negro, aragua
la candelaria mbi
peribeca
ojeda
*los teques
el hatillo la unión corralito
maraxaibo
el limón
santa ana de coro
caraacs
san rafael del mojan
maracay edo aragua
msracay
san. francisco
palo negro - aragua
urb. el bosque. valencia edo. carabobo
caracas09966564
caracas,
caracas, el hatillo
maracaibo*
4
maracay aragua
lagunillas
caguas
guacara edo carabobo
urb. libertadores
cara as
ciudad
san cristobal de tac
guatire, edo. miranda. venezuela
altos mirandinos
aragua de barcelona
puerto  cabello
higuerote
caracas (d.c.)
valenciq
ed. mar azul t-b

In [76]:
estados_venezuela = {
    "Amazonas":["puerto ayacucho","guayana"],
    "Anzoátegui":["el trigre","anaco","barcelona","el tigrito","lecheria","puerto la cruz","aragua de barcelona"],
    "Apure":["san fernando de apure","san fernando","araure"],
    "Aragua":["maracay","palo negro","turmero","maeacay","la victoria","cagua","la morita1","aragua","la victoria edo aragua","maracay.","el consejo estado aragua","santa rita maracay","turmero, estado aragua","la victoria aragua","maracay- turmero","palo negrro","santa rita aragua","yagua","palo negro, aragua","el limón","maracay edo aragua","msracay","msracay","palo negro - aragua","maracay aragua","caguas"],
    "Barinas":["barinas"],
    "Bolívar":["puerto ordaz","ciudad bolivar","ciudad guayana","ciudad bolívar"],
    "Carabobo":["moron","valencia","guacara","montalban","puerto cabello","carabobo","naguanagua","puerto cabello carabobo","carrizal","san diego","los guayos","valencia edo. carabobo","valencia,  naguanagua","valencia. venezuela","valencia. venezuela","san joaquin","san diego de los altos","valencia estado carabobo","valencia , los guayos","valencia, edo. carabobo","san joaquin, estado carabobo","ciudad alianza","naguanagua. estado carabobo","puerto cabell","san joaquin*","san joaquin","valencia, carabobo","nagauanagua","ciudad zamora mzna. 4-f","san digo","san diego carabobo","nagua","urb. el bosque. valencia edo. carabobo","guacara edo carabobo","puerto  cabello","valenciq"],
    "Cojedes":["san carlos","tinaco","tinaquillo"],
    "Delta Amacuro":["tucupita"],
    "Desconocidos":["desconocido","primero de mayo","venezuela","urb. los cocos sur","la vaquera","cjto. res. ops torre 3","468","el consejo","palavecino","allen","san rafael de carvajal,/ carvajal","11201663","mario briceño iragorry","cordero lomas blanca","la concepcion","13912257","barcel","el concejo","libertad","30","275","hhhhhh","plc","la concepción","parroquia santa teresa","peribeca","san rafael del mojan","4","ciudad","ed. mar azul t-b"],
    "Falcón":["punto fijo","churuguara","coro","chichiriviche","la vela de coro","santa ana de coro"],
    "Guárico":["san juan de los morros","altagracia de orituco"],
    "Lara":["carora","cabudare","barquisimeto","barquisimeto gxtest2al","barquisimeto gxtes2al","cabudare estado lara","iribarren","cabude","barquisimeto*","bqto"],
    "Mérida":["merida","mérida","el vigia","ejido, mérida","mérida, venezuela"],
    "Miranda":["guanares","charallave","los teques";"guatire","miranda","san antonio de los altos","carrizal, estado miranda","guarenas, miranda","cuarenas","guarenas, edo. miranda","ciudad casarapa","ocumare del tuy","mariche","guatires","san antonio","san josé d/los altos","gurenas","san josé de los altos","los teqes","guatire, edo miranda, venezuela","*los teques","guatire, edo. miranda. venezuela","altos mirandinos","higuerote"],
    "Monagas":["maturin","maturín"],
    "Nueva Esparta":["margarita","porlamar","pampatar","catia la mar"],
    "Portuguesa":["guanare","acarigua"],
    "Sucre":["cumana","cumanacoa","municipio sucre","carupano","cumaná","sucre"],
    "Táchira":["san cristobal","san cristóbal","tachira","capacho","tariba","los rastrojos","cordero","táriba","caneyes","táchira","tucape","san rafael cárdenas tachira venezuela","san cristobal edo tachira","capacho viejo","san cristobal de tac"],
    "Trujillo":["valera"]
    "Vargas (La Guaira)":["la guaira","vargas","maiquetía, estado la guaira"]
    "Yaracuy":["san felipe","chivacoa","yaritagua"]
    "Zulia":["cabimas","maracaibo","zulia","ciudad ojeda","santa rita","ciudad ojeda.","ojeda","maraxaibo","maracaibo*"],
    "Distrito Capital (Caracas)":["caracas","caracass","el hatillo","csracas","la tahona","edif virrey, calle caurimare , caracas","gran caracas","caracas venezuela","caricuao","baruta","libertador","caracas gxtest2al","distrito capital","caracs","caracas (miranda)","maracas","el hatillo-la unión","baracas","chacao","la candelaria","carcas","municipio el hatillo","caracas-baruta","ccs","la candelaria mbi","el hatillo la unión corralito","caraacs","lagunillas","caracas09966564","caracas,","caracas, el hatillo","lagunillas","urb. libertadores","cara as","caracas (d.c.)"]
    "Internacionales":["santiago","la paz","palmira","ejido","bogota","sn francisco","chile","zamora","miami","san francisco","girardot","san. francisco"]
}

SyntaxError: invalid syntax (614742162.py, line 16)

In [2]:
estados_venezuela= {
    "Amazonas": ["puerto ayacucho", "guayana"],
    "Anzoátegui": ["el trigre", "anaco", "barcelona", "el tigrito", "lecheria", "puerto la cruz", "aragua de barcelona"],
    "Apure": ["san fernando de apure", "san fernando", "araure"],
    "Aragua": ["maracay", "palo negro", "turmero", "maeacay", "la victoria", "cagua", "la morita1", "aragua", "la victoria edo aragua", "maracay.", "el consejo estado aragua", "santa rita maracay", "turmero, estado aragua", "la victoria aragua", "maracay- turmero", "palo negrro", "santa rita aragua", "yagua", "palo negro, aragua", "el limón", "maracay edo aragua", "msracay", "msracay", "palo negro - aragua", "maracay aragua", "caguas"],
    "Barinas": ["barinas"],
    "Bolívar": ["puerto ordaz", "ciudad bolivar", "ciudad guayana", "ciudad bolívar"],
    "Carabobo": ["moron", "valencia", "guacara", "montalban", "puerto cabello", "carabobo", "naguanagua", "puerto cabello carabobo", "carrizal", "san diego", "los guayos", "valencia edo. carabobo", "valencia, naguanagua", "valencia. venezuela", "valencia. venezuela", "san joaquin", "san diego de los altos", "valencia estado carabobo", "valencia, los guayos", "valencia, edo. carabobo", "san joaquin, estado carabobo", "ciudad alianza", "naguanagua. estado carabobo", "puerto cabell", "san joaquin*", "san joaquin", "valencia, carabobo", "nagauanagua", "ciudad zamora mzna. 4-f", "san digo", "san diego carabobo", "nagua", "urb. el bosque. valencia edo. carabobo", "guacara edo carabobo", "puerto cabello", "valenciq","valencia,  naguanagua","valencia , los guayos","san joaquín","guacaipuro","puerto  cabello"],
    "Cojedes": ["san carlos", "tinaco", "tinaquillo"],
    "Delta Amacuro": ["tucupita"],
    "Desconocidos": ["desconocido", "primero de mayo", "venezuela", "urb. los cocos sur", "la vaquera", "cjto. res. ops torre 3", "468", "el consejo", "palavecino", "allen", "san rafael de carvajal,/ carvajal", "11201663", "mario briceño iragorry", "cordero lomas blanca", "la concepcion", "13912257", "barcel", "el concejo", "libertad", "30", "275", "hhhhhh", "plc", "la concepción", "parroquia santa teresa", "peribeca", "san rafael del mojan", "4", "ciudad", "ed. mar azul t-b"],
    "Falcón": ["punto fijo", "churuguara", "coro", "chichiriviche", "la vela de coro", "santa ana de coro"],
    "Guárico": ["san juan de los morros", "altagracia de orituco"],
    "Lara": ["carora", "cabudare", "barquisimeto", "barquisimeto gxtest2al", "barquisimeto gxtes2al", "cabudare estado lara", "iribarren", "cabude", "barquisimeto*", "bqto"],
    "Mérida": ["merida", "mérida", "el vigia", "ejido, mérida", "mérida, venezuela"],
    "Miranda": ["guanares", "charallave", "los teques", "guatire", "miranda", "san antonio de los altos", "carrizal, estado miranda", "guarenas, miranda", "cuarenas", "guarenas, edo. miranda", "ciudad casarapa", "ocumare del tuy", "mariche", "guatires", "san antonio", "san josé d/los altos", "gurenas", "san josé de los altos", "los teqes", "guatire, edo miranda, venezuela", "*los teques", "guatire, edo. miranda. venezuela", "altos mirandinos", "higuerote"],
    "Monagas": ["maturin", "maturín"],
    "Nueva Esparta": ["margarita", "porlamar", "pampatar", "catia la mar"],
    "Portuguesa": ["guanare", "acarigua"],
    "Sucre": ["cumana", "cumanacoa", "municipio sucre", "carupano", "cumaná", "sucre"],
    "Táchira": ["san cristobal", "san cristóbal", "tachira", "capacho", "tariba", "los rastrojos", "cordero", "táriba", "caneyes", "táchira", "tucape", "san rafael cárdenas tachira venezuela", "san cristobal edo tachira", "capacho viejo", "san cristobal de tac"],
    "Trujillo": ["valera"],
    "Vargas (La Guaira)": ["la guaira", "vargas", "maiquetía, estado la guaira"],
    "Yaracuy": ["san felipe", "chivacoa", "yaritagua"],
    "Zulia": ["cabimas", "maracaibo", "zulia", "ciudad ojeda", "santa rita", "ciudad ojeda.", "ojeda", "maraxaibo", "maracaibo*"],
    "Distrito Capital (Caracas)": ["caracas", "caracass", "el hatillo", "csracas", "la tahona", "edif virrey, calle caurimare , caracas", "gran caracas", "caracas venezuela", "caricuao", "baruta", "libertador", "caracas gxtest2al", "distrito capital", "caracs", "caracas (miranda)", "maracas", "el hatillo-la unión", "baracas", "chacao", "la candelaria", "carcas", "municipio el hatillo", "caracas-baruta", "ccs", "la candelaria mbi", "el hatillo la unión corralito", "caraacs", "lagunillas", "caracas09966564", "caracas,", "caracas, el hatillo", "lagunillas", "urb. libertadores", "cara as", "caracas (d.c.)"],
    "Internacionales": ["santiago", "la paz", "palmira", "ejido", "bogota", "sn francisco", "chile", "zamora", "miami", "san francisco", "girardot", "san. francisco"]
}

In [3]:

Usuarios_finales['city'] = Usuarios_finales['city'].replace(estados_venezuela)

# Mostrar el DataFrame actualizado
print(Usuarios_finales)

NameError: name 'Usuarios_finales' is not defined

In [4]:
Usuarios_finales

NameError: name 'Usuarios_finales' is not defined

In [79]:

# Función para reemplazar valores en base a claves del diccionario
def reemplazar_por_clave(valor):
    for key, value in estados_venezuela.items():
        if valor in value:
            return key
    return valor

# Aplicar la función a la columna 'city'
Usuarios_finales['city'] = Usuarios_finales['city'].apply(reemplazar_por_clave)

# Mostrar el DataFrame actualizado
print(Usuarios_finales)

         idusuarios  active           registered                        city  \
0              2887       1  2024-10-29 21:56:53  Distrito Capital (Caracas)
1              3217       1  2023-11-13 10:35:37                Desconocidos
2              9076       1  2024-11-01 07:35:57  Distrito Capital (Caracas)
3             13143       1  2024-04-30 21:56:52                       Zulia
4             15176       1  2023-09-12 14:48:45                Desconocidos
...             ...     ...                  ...                         ...
2585255  1999961837       1  2023-12-10 17:47:57                     Miranda
2585256  1999962845       1  2024-04-11 12:18:48                      Falcón
2585257  1999969825       1  2023-10-27 14:01:42                Desconocidos
2585258  1999971733       1  2024-10-23 09:15:38                Desconocidos
2585259  1999988576       1  2024-10-15 07:52:16  Distrito Capital (Caracas)

        country       fecha
0            cz  2024-12-01
1            cz  2024-12-01
2            cz  2024-12-01
3            cz  2024-12-01
4            cz  2024-12-01
...         ...         ...
2585255      ve  2024-12-07
2585256      cz  2024-12-07
2585257      cz  2024-12-07
2585258      ve  2024-12-07
2585259      ve  2024-12-07

[2585260 rows x 6 columns]

In [80]:
Usuarios_finales

,idusuarios,active,registered,city,country,fecha
0,2887,1,2024-10-29 21:56:53,Distrito Capital (Caracas),cz,2024-12-01
1,3217,1,2023-11-13 10:35:37,Desconocidos,cz,2024-12-01
2,9076,1,2024-11-01 07:35:57,Distrito Capital (Caracas),cz,2024-12-01
3,13143,1,2024-04-30 21:56:52,Zulia,cz,2024-12-01
4,15176,1,2023-09-12 14:48:45,Desconocidos,cz,2024-12-01
...,...,...,...,...,...,...
2585255,1999961837,1,2023-12-10 17:47:57,Miranda,ve,2024-12-07
2585256,1999962845,1,2024-04-11 12:18:48,Falcón,cz,2024-12-07
2585257,1999969825,1,2023-10-27 14:01:42,Desconocidos,cz,2024-12-07
2585258,1999971733,1,2024-10-23 09:15:38,Desconocidos,ve,2024-12-07
2585259,1999988576,1,2024-10-15 07:52:16,Distrito Capital (Caracas),ve,2024-12-07

In [81]:
# Obtener las categorías únicas en la columna 'city'
categorias_city = Usuarios_finales['city'].unique()

# Imprimir las categorías únicas
print("Categorías únicas en la columna 'city':")
for categoria in categorias_city:
    print(categoria)

Categorías únicas en la columna 'city':
Distrito Capital (Caracas)
Desconocidos
Zulia
Aragua
guarenas
Carabobo
Portuguesa
Miranda
Barinas
Falcón
Guárico
Vargas (La Guaira)
Bolívar
Táchira
Lara
el tigre
Nueva Esparta
Anzoátegui
Trujillo
Sucre
Mérida
Monagas
Cojedes
Yaracuy
Delta Amacuro
Amazonas
Internacionales
Apure

In [82]:
Usuarios_finales.to_csv('../data/modelo/usuarios_finales.csv', sep=';', index=False)