In [1]:
import os
import pandas as pd
from datetime import datetime

In [2]:

# Especifica la ruta de la carpeta
carpeta = 'ruta/a/tu/carpeta'

# Lista para almacenar DataFrames
dataframes = []

# Verifica si la carpeta existe
if os.path.exists(carpeta):
    # Itera sobre todos los archivos en la carpeta
    for archivo in os.listdir(carpeta):
        # Verifica si es un archivo CSV
        if archivo.endswith('.csv'):
            # Carga el archivo CSV en un DataFrame y lo agrega a la lista
            df = pd.read_csv(os.path.join(carpeta, archivo))
            dataframes.append(df)
else:
    print('La carpeta no existe.')

# Combina todos los DataFrames en uno solo (opcional)
if dataframes:
    df_combinado = pd.concat(dataframes, ignore_index=True)
    print(df_combinado)
else:
    print('No se encontraron archivos CSV en la carpeta.')

La carpeta no existe.
No se encontraron archivos CSV en la carpeta.

In [27]:
# Especifica la ruta de la carpeta
carpeta = "../data/Usuarios"
carpeta_2 = "../data/tabala_de_hechos/Diciembre/Diciembre"
carpeta_3 = "../data/canales"

In [3]:
# Verifica si la carpeta existe
#Lista para almacenar DataFrames
dataframes_2 = []  
if os.path.exists(carpeta_2):
    # Itera sobre todos los archivos en la carpeta
    for archivo in os.listdir(carpeta_2):
        # Verifica si es un archivo CSV
        if archivo.endswith('.csv'):
            # Carga el archivo CSV en un DataFrame y lo agrega a la lista
            df = pd.read_csv(os.path.join(carpeta_2, archivo,))
            dataframes_2.append(df)
else:
    print('La carpeta no existe.')

In [6]:
dataframes_2

[        id;user;channel;from;duration;ip;server;type;cookie;userAgent;device;shared;state;terminated
 0        2630897996;822047708;VENEVISION:20241130484041...
 1        2631546504;704036786;UNIVERSALHD:20241130fe677...
 2        2882499978;1060897311;TVFANB;2024-12-01 00:00:...
 3        2882500042;1532054829;COMEDY_CENTRAL:20241130d...
 4        2882500106;1836469450;TELEVEN;2024-12-01 00:00...
 ...                                                    ...
 2741172  2649138825;1604960256;GOLDENPREMIER2;2024-12-0...
 2741173  2900929034;32201932;CINELATINO:2024120130191ab...
 2741174  3316567428;534882202;CANALINFORMATIVO;2024-12-...
 2741175  3316567492;1925453570;RUSSIATODAY;2024-12-02 0...
 2741176  3316567556;11494217;IVC;2024-12-02 01:00:00;0;...

 [2741177 rows x 1 columns],
         id;user;channel;from;duration;ip;server;type;cookie;userAgent;device;shared;state;terminated
 0        2648240460;1430864190;VEPLUS;2024-12-02 00:00:...
 1        2648240524;398401691;WARNERCHANNEL:20241201006...
 2        2648240588;1667804268;CANALINFORMATIVO;2024-12...
 3        2648888776;1338018328;GOLDENEDGE;2024-12-02 00...
 4        2648888840;244827309;WARNERCHANNEL;2024-12-02 ...
 ...                                                    ...
 2248697  2663835403;1427612179;VTV;2024-12-03 01:00:00;...
 2248698  2915207306;1833735873;FASHIONBOX;2024-12-03 01...
 2248699  2915207370;1784979107;ELGOURMET;2024-12-03 01:...
 2248700  3330701509;833463025;ANTENA3:202412032e4002f79...
 2248701  3330709638;1833735873;MASCHIC;2024-12-03 01:00...

 [2248702 rows x 1 columns],
         id;user;channel;from;duration;ip;server;type;cookie;userAgent;device;shared;state;terminated
 0        2662427916;606329730;CINECANAL;2024-12-03 00:0...
 1        2663075336;1392230105;CANAL1:20241203d3e625de8...
 2        2663080393;1927389573;FILMBOXARTHOUSE;2024-12-...
 3        2663080457;283496110;SYFY;2024-12-03 00:00:00;...
 4        2663080585;1999039642;TELEVEN:20241203317074b0...
 ...                                                    ...
 2435579  2678081036;195287697;ESPN;2024-12-04 01:00:00;...
 2435580  2678734217;1853939408;HOLATV;2024-12-04 01:00:...
 2435581  2931683850;1622288281;FOODNETWORK;2024-12-04 0...
 2435582  3346158724;1716200414;CARTOON_NETWORK_HD_INTER...
 2435583  3346158788;204781305;AXN:2024120429231abcf8877...

 [2435584 rows x 1 columns],
         id;user;channel;from;duration;ip;server;type;cookie;userAgent;device;shared;state;terminated
 0        2677839884;231296416;TELEVEN:20241203261ae5ac6...
 1        2677839948;1801259673;GLOBOVISION;2024-12-04 0...
 2        2678493129;546345613;STARCHANNEL:2024120395932...
 3        2678493193;1162129352;VEPLUS:20241204046c1dcca...
 4        2678493257;976142534;MERIDIANOTV;2024-12-04 00...
 ...                                                    ...
 2558500  3362288453;1012973741;SUNCHANNEL:20241205641f6...
 2558501  3362465667;1297137168;ESPNEXTRA;2024-12-05 01:...
 2558502  3362465731;963444986;CANALINFANTIL;2024-12-05 ...
 2558503  3362465795;1784979107;VEPLUS;2024-12-05 01:00:...
 2558504  3362465859;266138028;24HORAS:2024120504c8fde4b...

 [2558505 rows x 1 columns],
         id;user;channel;from;duration;ip;server;type;cookie;userAgent;device;shared;state;terminated
 0        2694025548;526288579;HOLATV:202412052deefdcb98...
 1        2694025612;1632298608;ESPN4HD;2024-12-05 00:00...
 2        2694680841;1112222269;DISNEYJR;2024-12-05 00:0...
 3        2694680905;249010437;MERIDIANOTV;2024-12-05 00...
 4        2694716552;826049806;TELEVEN:20241205317074b02...
 ...                                                    ...
 2728179  3379573255;1890306857;WARNERCHANNEL:2024120521...
 2728180  3379577285;1121777118;CINELATINO;2024-12-06 01...
 2728181  3379585478;1498552323;ESPN2:2024120652cb7f7881...
 2728182  3379634180;861507183;SONYCHANNEL;2024-12-06 01...
 2728183  3379756611;1488139664;VENEVISION:202412053736f...

 [2728184 rows x 1 columns],
         id;user;channel;from;duration;ip;server;type;cookie;userAgent;device;shared;state;terminated
 0        2711268364;1414362725;CANALINFORMATIVO;2024-12...
 1        2711268428;1427612179;VTV;2024-12-06 00:00:00;...
 2        2711268492;323465020;EUROPA:20241206c0ea3cf05f...
 3        2711921673;33772605;UNIVERSALHD:20241205a8d442...
 4        2711921737;1043601794;TAM:202412069d3e96b115b7...
 ...                                                    ...
 2292910  3394059076;154549516;SHOWBUSI;2024-12-07 01:00...
 2292911  3394182211;16702007;ELGOURMET;2024-12-07 01:00...
 2292912  3394182275;1733425194;GOLDEPREMIER;2024-12-07 ...
 2292913  3394182339;1263930496;CINELATINO;2024-12-07 01...
 2292914  3394182403;1692105909;PENTHOUSE;2024-12-07 01:...

 [2292915 rows x 1 columns],
         id;user;channel;from;duration;ip;server;type;cookie;userAgent;device;shared;state;terminated
 0        2725685452;512389234;EIENTERTAINMENT;2024-12-0...
 1        2725685516;66027453;PARAMOUNT;2024-12-07 00:00...
 2        2725685580;329377299;TVFAMILIA;2024-12-07 00:0...
 3        2725685644;1334047867;EIENTERTAINMENT;2024-12-...
 4        2726339017;694215588;VTV:2024120788157dbd05bc8...
 ...                                                    ...
 2395956  3409075205;1682134365;ELGOURMET:20241208f60d13...
 2395957  3409083590;628106008;SONYMOVIES;2024-12-08 01:...
 2395958  3409133508;1512305880;AMC;2024-12-08 01:00:00;...
 2395959  3409133572;432424274;TNTSERIES:20241208952c5bf...
 2395960  3409256899;533883848;SONYCHANNEL;2024-12-08 01...

 [2395961 rows x 1 columns]]

In [8]:
# Combina todos los DataFrames en uno solo (opcional)
if dataframes_2:
    df_combinado = pd.concat(dataframes_2, ignore_index=True)
    print(df_combinado)
else:
    print('No se encontraron archivos CSV en la carpeta.')

         id;user;channel;from;duration;ip;server;type;cookie;userAgent;device;shared;state;terminated
0         2630897996;822047708;VENEVISION:20241130484041...
1         2631546504;704036786;UNIVERSALHD:20241130fe677...
2         2882499978;1060897311;TVFANB;2024-12-01 00:00:...
3         2882500042;1532054829;COMEDY_CENTRAL:20241130d...
4         2882500106;1836469450;TELEVEN;2024-12-01 00:00...
...                                                     ...
17401023  3409075205;1682134365;ELGOURMET:20241208f60d13...
17401024  3409083590;628106008;SONYMOVIES;2024-12-08 01:...
17401025  3409133508;1512305880;AMC;2024-12-08 01:00:00;...
17401026  3409133572;432424274;TNTSERIES:20241208952c5bf...
17401027  3409256899;533883848;SONYCHANNEL;2024-12-08 01...

[17401028 rows x 1 columns]

In [63]:

import os
import pandas as pd

def combinar_csv_interacciones(ruta):
    """
    Combina todos los archivos CSV en una carpeta específica en un solo DataFrame,
    utilizando el separador adecuado (;).

    Parámetros:
        ruta (str): Ruta de la carpeta donde se encuentran los archivos CSV.

    Retorna:
        pd.DataFrame: DataFrame combinado con los datos de todos los CSV en la carpeta.
        Si no se encuentran archivos válidos, retorna None.
    """
    # Lista para almacenar los DataFrames procesados
    dataframes = []

    # Verificar si la ruta existe
    if os.path.exists(ruta):
        # Iterar sobre todos los archivos en la carpeta
        for archivo in os.listdir(ruta):
            # Verificar si el archivo tiene extensión .csv
            if archivo.endswith('.csv'):
                print(f"Procesando archivo: {archivo}")
                
                # Cargar el archivo en un DataFrame con el separador correcto
                try:
                    df = pd.read_csv(os.path.join(ruta, archivo), sep=';', on_bad_lines='skip', low_memory=False)
                    # Agregar el DataFrame a la lista
                    dataframes.append(df)
                except Exception as e:
                    print(f"Error al procesar el archivo {archivo}: {e}")
        
        # Combinar todos los DataFrames si existen
        if dataframes:
            df_combinado = pd.concat(dataframes, ignore_index=True)
            return df_combinado
        else:
            print("No se encontraron archivos CSV válidos en la carpeta.")
            return None
    else:
        print("La carpeta no existe.")
        return None

In [6]:
hab= combinar_csv_en_ruta(carpeta_2)

Procesando archivo: channelUsage-2024-12-01.csv
Procesando archivo: channelUsage-2024-12-02.csv
Procesando archivo: channelUsage-2024-12-03.csv
Procesando archivo: channelUsage-2024-12-04.csv
Procesando archivo: channelUsage-2024-12-05.csv
Procesando archivo: channelUsage-2024-12-06.csv
Procesando archivo: channelUsage-2024-12-07.csv

In [7]:
hab

,id,user,channel,from,duration,ip,server,type,cookie,userAgent,device,shared,state,terminated
0,2630897996,822047708,VENEVISION:2024113048404199fd58ffb10fa06ec96f0...,2024-12-01 00:00:00,4000,190.6.33.86,83,storage,NaN,NaN,1844013721,1,active,NaN
1,2631546504,704036786,UNIVERSALHD:20241130fe677f7adc3d8a6c7c82521d78...,2024-12-01 00:00:00,2710,10.19.161.82,83,storage,NaN,NaN,526339700,1,active,NaN
2,2882499978,1060897311,TVFANB,2024-12-01 00:00:00,40,190.153.91.253,288,live,NaN,NaN,1159923727,1,active,NaN
3,2882500042,1532054829,COMEDY_CENTRAL:20241130d279eb03080cdc91c708349...,2024-12-01 00:00:00,1510,190.142.251.124,83,storage,NaN,NaN,1551956875,1,active,NaN
4,2882500106,1836469450,TELEVEN,2024-12-01 00:00:00,160,190.6.43.206,288,live,NaN,NaN,431606193,1,active,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17401023,3409075205,1682134365,ELGOURMET:20241208f60d13c539b90adabf949ebe40b3...,2024-12-08 01:00:00,0,10.11.70.68,83,storage,NaN,NaN,407786682,1,active,NaN
17401024,3409083590,628106008,SONYMOVIES,2024-12-08 01:00:00,0,190.153.127.170,288,live,NaN,NaN,1965953775,1,active,NaN
17401025,3409133508,1512305880,AMC,2024-12-08 01:00:00,0,10.107.173.215,288,live,NaN,NaN,434446901,1,active,NaN
17401026,3409133572,432424274,TNTSERIES:20241208952c5bf01cf602f1a9654d193389...,2024-12-08 01:00:00,0,10.13.114.100,83,storage,NaN,NaN,1407435118,1,active,NaN
17401027,3409256899,533883848,SONYCHANNEL,2024-12-08 01:00:00,0,200.8.116.28,288,live,NaN,NaN,1911809085,1,active,NaN

In [12]:
# Lista para almacenar DataFrames junto con el nombre de archivo
dataframes = []

# Verifica si la carpeta existe
if os.path.exists(carpeta):
    # Itera sobre todos los archivos en la carpeta
    for archivo in os.listdir(carpeta):
        # Verifica si es un archivo CSV
        if archivo.endswith('.csv'):
            # Imprime el nombre del archivo
            print(f"Procesando archivo: {archivo}")
            # Carga el archivo CSV en un DataFrame y lo agrega a la lista
            df = pd.read_csv(os.path.join(carpeta, archivo)sep=";", on_bad_lines="skip")
            # Guarda el DataFrame y el nombre del archivo como una tupla
            dataframes.append((archivo, df))
    if dataframes:
        print("Archivos procesados con éxito.")
    else:
        print("No se encontraron archivos CSV en la carpeta.")
else:
    print("La carpeta no existe.")

Procesando archivo: channelUsage-2024-12-01.csv
Procesando archivo: channelUsage-2024-12-02.csv
Procesando archivo: channelUsage-2024-12-03.csv
Procesando archivo: channelUsage-2024-12-04.csv
Procesando archivo: channelUsage-2024-12-05.csv
Procesando archivo: channelUsage-2024-12-06.csv
Procesando archivo: channelUsage-2024-12-07.csv
Archivos procesados con éxito.

In [13]:
dataframes

[('channelUsage-2024-12-01.csv',
          id;user;channel;from;duration;ip;server;type;cookie;userAgent;device;shared;state;terminated
  0        2630897996;822047708;VENEVISION:20241130484041...
  1        2631546504;704036786;UNIVERSALHD:20241130fe677...
  2        2882499978;1060897311;TVFANB;2024-12-01 00:00:...
  3        2882500042;1532054829;COMEDY_CENTRAL:20241130d...
  4        2882500106;1836469450;TELEVEN;2024-12-01 00:00...
  ...                                                    ...
  2741172  2649138825;1604960256;GOLDENPREMIER2;2024-12-0...
  2741173  2900929034;32201932;CINELATINO:2024120130191ab...
  2741174  3316567428;534882202;CANALINFORMATIVO;2024-12-...
  2741175  3316567492;1925453570;RUSSIATODAY;2024-12-02 0...
  2741176  3316567556;11494217;IVC;2024-12-02 01:00:00;0;...

  [2741177 rows x 1 columns]),
 ('channelUsage-2024-12-02.csv',
          id;user;channel;from;duration;ip;server;type;cookie;userAgent;device;shared;state;terminated
  0        2648240460;1430864190;VEPLUS;2024-12-02 00:00:...
  1        2648240524;398401691;WARNERCHANNEL:20241201006...
  2        2648240588;1667804268;CANALINFORMATIVO;2024-12...
  3        2648888776;1338018328;GOLDENEDGE;2024-12-02 00...
  4        2648888840;244827309;WARNERCHANNEL;2024-12-02 ...
  ...                                                    ...
  2248697  2663835403;1427612179;VTV;2024-12-03 01:00:00;...
  2248698  2915207306;1833735873;FASHIONBOX;2024-12-03 01...
  2248699  2915207370;1784979107;ELGOURMET;2024-12-03 01:...
  2248700  3330701509;833463025;ANTENA3:202412032e4002f79...
  2248701  3330709638;1833735873;MASCHIC;2024-12-03 01:00...

  [2248702 rows x 1 columns]),
 ('channelUsage-2024-12-03.csv',
          id;user;channel;from;duration;ip;server;type;cookie;userAgent;device;shared;state;terminated
  0        2662427916;606329730;CINECANAL;2024-12-03 00:0...
  1        2663075336;1392230105;CANAL1:20241203d3e625de8...
  2        2663080393;1927389573;FILMBOXARTHOUSE;2024-12-...
  3        2663080457;283496110;SYFY;2024-12-03 00:00:00;...
  4        2663080585;1999039642;TELEVEN:20241203317074b0...
  ...                                                    ...
  2435579  2678081036;195287697;ESPN;2024-12-04 01:00:00;...
  2435580  2678734217;1853939408;HOLATV;2024-12-04 01:00:...
  2435581  2931683850;1622288281;FOODNETWORK;2024-12-04 0...
  2435582  3346158724;1716200414;CARTOON_NETWORK_HD_INTER...
  2435583  3346158788;204781305;AXN:2024120429231abcf8877...

  [2435584 rows x 1 columns]),
 ('channelUsage-2024-12-04.csv',
          id;user;channel;from;duration;ip;server;type;cookie;userAgent;device;shared;state;terminated
  0        2677839884;231296416;TELEVEN:20241203261ae5ac6...
  1        2677839948;1801259673;GLOBOVISION;2024-12-04 0...
  2        2678493129;546345613;STARCHANNEL:2024120395932...
  3        2678493193;1162129352;VEPLUS:20241204046c1dcca...
  4        2678493257;976142534;MERIDIANOTV;2024-12-04 00...
  ...                                                    ...
  2558500  3362288453;1012973741;SUNCHANNEL:20241205641f6...
  2558501  3362465667;1297137168;ESPNEXTRA;2024-12-05 01:...
  2558502  3362465731;963444986;CANALINFANTIL;2024-12-05 ...
  2558503  3362465795;1784979107;VEPLUS;2024-12-05 01:00:...
  2558504  3362465859;266138028;24HORAS:2024120504c8fde4b...

  [2558505 rows x 1 columns]),
 ('channelUsage-2024-12-05.csv',
          id;user;channel;from;duration;ip;server;type;cookie;userAgent;device;shared;state;terminated
  0        2694025548;526288579;HOLATV:202412052deefdcb98...
  1        2694025612;1632298608;ESPN4HD;2024-12-05 00:00...
  2        2694680841;1112222269;DISNEYJR;2024-12-05 00:0...
  3        2694680905;249010437;MERIDIANOTV;2024-12-05 00...
  4        2694716552;826049806;TELEVEN:20241205317074b02...
  ...                                                    ...
  2728179  3379573255;1890306857;WARNERCHANNEL:2024120521...
  2728180  3379577285;1121777118;CINELATINO;2024-12-06 01...
  2728181  3379585478;1498552323;ESPN2:2024120652cb7f7881...
  2728182  3379634180;861507183;SONYCHANNEL;2024-12-06 01...
  2728183  3379756611;1488139664;VENEVISION:202412053736f...

  [2728184 rows x 1 columns]),
 ('channelUsage-2024-12-06.csv',
          id;user;channel;from;duration;ip;server;type;cookie;userAgent;device;shared;state;terminated
  0        2711268364;1414362725;CANALINFORMATIVO;2024-12...
  1        2711268428;1427612179;VTV;2024-12-06 00:00:00;...
  2        2711268492;323465020;EUROPA:20241206c0ea3cf05f...
  3        2711921673;33772605;UNIVERSALHD:20241205a8d442...
  4        2711921737;1043601794;TAM:202412069d3e96b115b7...
  ...                                                    ...
  2292910  3394059076;154549516;SHOWBUSI;2024-12-07 01:00...
  2292911  3394182211;16702007;ELGOURMET;2024-12-07 01:00...
  2292912  3394182275;1733425194;GOLDEPREMIER;2024-12-07 ...
  2292913  3394182339;1263930496;CINELATINO;2024-12-07 01...
  2292914  3394182403;1692105909;PENTHOUSE;2024-12-07 01:...

  [2292915 rows x 1 columns]),
 ('channelUsage-2024-12-07.csv',
          id;user;channel;from;duration;ip;server;type;cookie;userAgent;device;shared;state;terminated
  0        2725685452;512389234;EIENTERTAINMENT;2024-12-0...
  1        2725685516;66027453;PARAMOUNT;2024-12-07 00:00...
  2        2725685580;329377299;TVFAMILIA;2024-12-07 00:0...
  3        2725685644;1334047867;EIENTERTAINMENT;2024-12-...
  4        2726339017;694215588;VTV:2024120788157dbd05bc8...
  ...                                                    ...
  2395956  3409075205;1682134365;ELGOURMET:20241208f60d13...
  2395957  3409083590;628106008;SONYMOVIES;2024-12-08 01:...
  2395958  3409133508;1512305880;AMC;2024-12-08 01:00:00;...
  2395959  3409133572;432424274;TNTSERIES:20241208952c5bf...
  2395960  3409256899;533883848;SONYCHANNEL;2024-12-08 01...

  [2395961 rows x 1 columns])]

In [27]:
import os
import pandas as pd

# Lista para almacenar DataFrames junto con la fecha extraída
dataframes = []

# Verifica si la carpeta existe
if os.path.exists(carpeta):
    # Itera sobre todos los archivos en la carpeta
    for archivo in os.listdir(carpeta):
        # Verifica si es un archivo CSV
        if archivo.endswith('.csv'):
            # Imprime el nombre del archivo
            print(f"Procesando archivo: {archivo}")
            
            # Extrae solo la parte completa de la fecha del nombre del archivo
            nombre_sin_extension = os.path.splitext(archivo)[0]  # Quita la extensión
            partes = nombre_sin_extension.split('-')  # Divide el nombre por guion

            # Verifica que haya al menos tres partes: prefijo, algo más, y la fecha completa
            if len(partes) >= 3:  
                # Reconstruye la fecha como año-mes-día
                fecha = "-".join(partes[-3:])  # Toma las últimas tres partes y las une con guiones
                print(f"Fecha extraída: {fecha}")  # Muestra la fecha extraída

                # Carga el archivo CSV en un DataFrame
                try:
                    df = pd.read_csv(os.path.join(carpeta, archivo), sep=";", on_bad_lines='skip')

                    # Agrega la fecha como una nueva columna al DataFrame
                    df['Fecha'] = fecha

                    # Guarda el DataFrame en la lista
                    dataframes.append(df)
                except Exception as e:
                    print(f"Error al procesar el archivo {archivo}: {e}")
            else:
                print(f"No se pudo identificar la fecha en el archivo: {archivo}")
    # Verifica si se procesaron DataFrames
    if dataframes:
        print("Archivos procesados con éxito.")
    else:
        print("No se encontraron archivos CSV válidos en la carpeta.")
else:
    print("La carpeta no existe.")

Procesando archivo: Users-2024-12-01.csv
Fecha extraída: 2024-12-01

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_7076\892023625.py:28: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(carpeta, archivo), sep=";", on_bad_lines='skip')

Procesando archivo: Users-2024-12-02.csv
Fecha extraída: 2024-12-02

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_7076\892023625.py:28: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(carpeta, archivo), sep=";", on_bad_lines='skip')

Procesando archivo: Users-2024-12-03.csv
Fecha extraída: 2024-12-03

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_7076\892023625.py:28: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(carpeta, archivo), sep=";", on_bad_lines='skip')

Procesando archivo: Users-2024-12-04.csv
Fecha extraída: 2024-12-04

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_7076\892023625.py:28: DtypeWarning: Columns (14,22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(carpeta, archivo), sep=";", on_bad_lines='skip')

Procesando archivo: Users-2024-12-05.csv
Fecha extraída: 2024-12-05

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_7076\892023625.py:28: DtypeWarning: Columns (14,22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(carpeta, archivo), sep=";", on_bad_lines='skip')

Procesando archivo: Users-2024-12-06.csv
Fecha extraída: 2024-12-06

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_7076\892023625.py:28: DtypeWarning: Columns (14,22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(carpeta, archivo), sep=";", on_bad_lines='skip')

Procesando archivo: Users-2024-12-07.csv
Fecha extraída: 2024-12-07

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_7076\892023625.py:28: DtypeWarning: Columns (14,22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(carpeta, archivo), sep=";", on_bad_lines='skip')

Archivos procesados con éxito.

In [28]:
dataframes

[                id  active  activeTo                              login  \
 0             2887       1       NaN                  YOLANDA@GMAIL.COM
 1             3217       1       NaN           MARYCAR_1989@HOTMAIL.COM
 2             9076       1       NaN  ANARELYSDELCARMENSANOYA@GMAIL.COM
 3            13143       1       NaN         NURISROMERO19631@GMAIL.COM
 4            15176       1       NaN             PINUCCIA81@HOTMAIL.COM
 ...            ...     ...       ...                                ...
 366252  1999961837       1       NaN                 Jdrm1956@Gmail.Com
 366253  1999962845       1       NaN      ALEXANDERPULGAR2023@GMAIL.COM
 366254  1999969825       1       NaN          nayreevirguez@hotmail.com
 366255  1999971733       1       NaN           YNGRIDVEGA1976@GMAIL.COM
 366256  1999988576       1       NaN               CESAR31222@GMAIL.COM

                                     email  \
 0                       YOLANDA@GMAIL.COM
 1                MARYCAR_1989@HOTMAIL.COM
 2       ANARELYSDELCARMENSANOYA@GMAIL.COM
 3              NURISROMERO19631@GMAIL.COM
 4                  PINUCCIA81@HOTMAIL.COM
 ...                                   ...
 366252                 Jdrm1956@Gmail.Com
 366253      ALEXANDERPULGAR2023@GMAIL.COM
 366254          nayreevirguez@hotmail.com
 366255           YNGRIDVEGA1976@GMAIL.COM
 366256               CESAR31222@GMAIL.COM

                                         password                  salt  \
 0       8310b5f97d061a373667fd2d418663bf961a49e1                   NaN
 1       0e4aec2e0701c7e2eba9d394cfe55bd444a7960e  4edf52dc0cec532a959f
 2       8310b5f97d061a373667fd2d418663bf961a49e1                   NaN
 3       2b028d56acd0bb9654c5e27b9b5937b793b302df                   NaN
 4       cab19843373c53e2890dc6d48b47bf033488b925  5c0f695311b314b0c90a
 ...                                          ...                   ...
 366252  1b84adba1c394882aa4136c844291b67f712219b                   NaN
 366253  8216f54cc93beffce7791f3deebf5703c7d52872                   NaN
 366254  840bd035437f0cf97bb94f33820d84125f7bd459  2062803bf6ab37a4c448
 366255  8f52a600c3eb4db763f9a74dff3eaa3b119910ca  34bcde9d22bfa4597704
 366256  54a56f67a1756991259d3b734a1c0aeef4cb406a                   NaN

                  registered  campaign  partner  ... comment  removed  \
 0       2024-10-29 21:56:53       NaN     1331  ...     NaN      NaN
 1       2023-11-13 10:35:37       NaN        1  ...     NaN      NaN
 2       2024-11-01 07:35:57       NaN     1331  ...     NaN      NaN
 3       2024-04-30 21:56:52       NaN     1327  ...     NaN      NaN
 4       2023-09-12 14:48:45       NaN        1  ...     NaN      NaN
 ...                     ...       ...      ...  ...     ...      ...
 366252  2023-12-10 17:47:57       NaN     1327  ...     NaN      NaN
 366253  2024-04-11 12:18:48       NaN     1327  ...     NaN      NaN
 366254  2023-10-27 14:01:42       NaN        1  ...     NaN      NaN
 366255  2024-10-23 09:15:38       NaN        1  ...     NaN      NaN
 366256  2024-10-15 07:52:16       NaN     1327  ...     NaN      NaN

         oldLogin  partnerActivation public tags deviceCountLimit  \
 0            NaN         9999-01-01      0  NaN               50
 1            NaN         9999-01-01      0  NaN               50
 2            NaN         9999-01-01      0  NaN               50
 3            NaN         9999-01-01      0  NaN               50
 4            NaN         9999-01-01      0  NaN               50
 ...          ...                ...    ...  ...              ...
 366252       NaN         9999-01-01      0  NaN               50
 366253       NaN         9999-01-01      0  NaN               50
 366254       NaN         9999-01-01      0  NaN               50
 366255       NaN         9999-01-01      0  NaN               50
 366256       NaN         9999-01-01      0  NaN               50

        devicePairingCount  devicePairingMonth       Fecha
 0                       5             0000-00  2024-12-01
 1                       5             0000-00  2024-12-01
 2                       5             0000-00  2024-12-01
 3                      50             2024-04  2024-12-01
 4                      49             2023-09  2024-12-01
 ...                   ...                 ...         ...
 366252                 50             2024-09  2024-12-01
 366253                 50             2024-10  2024-12-01
 366254                 50             2024-07  2024-12-01
 366255                 49             2024-10  2024-12-01
 366256                 50             2024-10  2024-12-01

 [366257 rows x 42 columns],
                 id  active  activeTo                              login  \
 0             2887       1       NaN                  YOLANDA@GMAIL.COM
 1             3217       1       NaN           MARYCAR_1989@HOTMAIL.COM
 2             9076       1       NaN  ANARELYSDELCARMENSANOYA@GMAIL.COM
 3            13143       1       NaN         NURISROMERO19631@GMAIL.COM
 4            15176       1       NaN             PINUCCIA81@HOTMAIL.COM
 ...            ...     ...       ...                                ...
 367504  1999961837       1       NaN                 Jdrm1956@Gmail.Com
 367505  1999962845       1       NaN      ALEXANDERPULGAR2023@GMAIL.COM
 367506  1999969825       1       NaN          nayreevirguez@hotmail.com
 367507  1999971733       1       NaN           YNGRIDVEGA1976@GMAIL.COM
 367508  1999988576       1       NaN               CESAR31222@GMAIL.COM

                                     email  \
 0                       YOLANDA@GMAIL.COM
 1                MARYCAR_1989@HOTMAIL.COM
 2       ANARELYSDELCARMENSANOYA@GMAIL.COM
 3              NURISROMERO19631@GMAIL.COM
 4                  PINUCCIA81@HOTMAIL.COM
 ...                                   ...
 367504                 Jdrm1956@Gmail.Com
 367505      ALEXANDERPULGAR2023@GMAIL.COM
 367506          nayreevirguez@hotmail.com
 367507           YNGRIDVEGA1976@GMAIL.COM
 367508               CESAR31222@GMAIL.COM

                                         password                  salt  \
 0       8310b5f97d061a373667fd2d418663bf961a49e1                   NaN
 1       0e4aec2e0701c7e2eba9d394cfe55bd444a7960e  4edf52dc0cec532a959f
 2       8310b5f97d061a373667fd2d418663bf961a49e1                   NaN
 3       2b028d56acd0bb9654c5e27b9b5937b793b302df                   NaN
 4       cab19843373c53e2890dc6d48b47bf033488b925  5c0f695311b314b0c90a
 ...                                          ...                   ...
 367504  1b84adba1c394882aa4136c844291b67f712219b                   NaN
 367505  8216f54cc93beffce7791f3deebf5703c7d52872                   NaN
 367506  840bd035437f0cf97bb94f33820d84125f7bd459  2062803bf6ab37a4c448
 367507  8f52a600c3eb4db763f9a74dff3eaa3b119910ca  34bcde9d22bfa4597704
 367508  54a56f67a1756991259d3b734a1c0aeef4cb406a                   NaN

                  registered  campaign  partner  ... comment  removed  \
 0       2024-10-29 21:56:53       NaN     1331  ...     NaN      NaN
 1       2023-11-13 10:35:37       NaN        1  ...     NaN      NaN
 2       2024-11-01 07:35:57       NaN     1331  ...     NaN      NaN
 3       2024-04-30 21:56:52       NaN     1327  ...     NaN      NaN
 4       2023-09-12 14:48:45       NaN        1  ...     NaN      NaN
 ...                     ...       ...      ...  ...     ...      ...
 367504  2023-12-10 17:47:57       NaN     1327  ...     NaN      NaN
 367505  2024-04-11 12:18:48       NaN     1327  ...     NaN      NaN
 367506  2023-10-27 14:01:42       NaN        1  ...     NaN      NaN
 367507  2024-10-23 09:15:38       NaN        1  ...     NaN      NaN
 367508  2024-10-15 07:52:16       NaN     1327  ...     NaN      NaN

         oldLogin  partnerActivation public tags deviceCountLimit  \
 0            NaN         9999-01-01      0  NaN               50
 1            NaN         9999-01-01      0  NaN               50
 2            NaN         9999-01-01      0  NaN               50
 3            NaN         9999-01-01      0  NaN               50
 4            NaN         9999-01-01      0  NaN               50
 ...          ...                ...    ...  ...              ...
 367504       NaN         9999-01-01      0  NaN               50
 367505       NaN         9999-01-01      0  NaN               50
 367506       NaN         9999-01-01      0  NaN               50
 367507       NaN         9999-01-01      0  NaN               50
 367508       NaN         9999-01-01      0  NaN               50

        devicePairingCount  devicePairingMonth       Fecha
 0                       5             0000-00  2024-12-02
 1                       5             0000-00  2024-12-02
 2                       5             0000-00  2024-12-02
 3                      50             2024-04  2024-12-02
 4                      49             2023-09  2024-12-02
 ...                   ...                 ...         ...
 367504                 50             2024-09  2024-12-02
 367505                 50             2024-10  2024-12-02
 367506                 50             2024-07  2024-12-02
 367507                 49             2024-10  2024-12-02
 367508                 50             2024-10  2024-12-02

 [367509 rows x 42 columns],
                 id  active  activeTo                              login  \
 0             2887       1       NaN                  YOLANDA@GMAIL.COM
 1             3217       1       NaN           MARYCAR_1989@HOTMAIL.COM
 2             9076       1       NaN  ANARELYSDELCARMENSANOYA@GMAIL.COM
 3            13143       1       NaN         NURISROMERO19631@GMAIL.COM
 4            15176       1       NaN             PINUCCIA81@HOTMAIL.COM
 ...            ...     ...       ...                                ...
 368507  1999961837       1       NaN                 Jdrm1956@Gmail.Com
 368508  1999962845       1       NaN      ALEXANDERPULGAR2023@GMAIL.COM
 368509  1999969825       1       NaN          nayreevirguez@hotmail.com
 368510  1999971733       1       NaN           YNGRIDVEGA1976@GMAIL.COM
 368511  1999988576       1       NaN               CESAR31222@GMAIL.COM

                                     email  \
 0                       YOLANDA@GMAIL.COM
 1                MARYCAR_1989@HOTMAIL.COM
 2       ANARELYSDELCARMENSANOYA@GMAIL.COM
 3              NURISROMERO19631@GMAIL.COM
 4                  PINUCCIA81@HOTMAIL.COM
 ...                                   ...
 368507                 Jdrm1956@Gmail.Com
 368508      ALEXANDERPULGAR2023@GMAIL.COM
 368509          nayreevirguez@hotmail.com
 368510           YNGRIDVEGA1976@GMAIL.COM
 368511               CESAR31222@GMAIL.COM

                                         password                  salt  \
 0       8310b5f97d061a373667fd2d418663bf961a49e1                   NaN
 1       0e4aec2e0701c7e2eba9d394cfe55bd444a7960e  4edf52dc0cec532a959f
 2       8310b5f97d061a373667fd2d418663bf961a49e1                   NaN
 3       2b028d56acd0bb9654c5e27b9b5937b793b302df                   NaN
 4       cab19843373c53e2890dc6d48b47bf033488b925  5c0f695311b314b0c90a
 ...                                          ...                   ...
 368507  1b84adba1c394882aa4136c844291b67f712219b                   NaN
 368508  8216f54cc93beffce7791f3deebf5703c7d52872                   NaN
 368509  840bd035437f0cf97bb94f33820d84125f7bd459  2062803bf6ab37a4c448
 368510  8f52a600c3eb4db763f9a74dff3eaa3b119910ca  34bcde9d22bfa4597704
 368511  54a56f67a1756991259d3b734a1c0aeef4cb406a                   NaN

                  registered  campaign  partner  ... comment  removed  \
 0       2024-10-29 21:56:53       NaN     1331  ...     NaN      NaN
 1       2023-11-13 10:35:37       NaN        1  ...     NaN      NaN
 2       2024-11-01 07:35:57       NaN     1331  ...     NaN      NaN
 3       2024-04-30 21:56:52       NaN     1327  ...     NaN      NaN
 4       2023-09-12 14:48:45       NaN        1  ...     NaN      NaN
 ...                     ...       ...      ...  ...     ...      ...
 368507  2023-12-10 17:47:57       NaN     1327  ...     NaN      NaN
 368508  2024-04-11 12:18:48       NaN     1327  ...     NaN      NaN
 368509  2023-10-27 14:01:42       NaN        1  ...     NaN      NaN
 368510  2024-10-23 09:15:38       NaN        1  ...     NaN      NaN
 368511  2024-10-15 07:52:16       NaN     1327  ...     NaN      NaN

         oldLogin  partnerActivation public tags deviceCountLimit  \
 0            NaN         9999-01-01      0  NaN               50
 1            NaN         9999-01-01      0  NaN               50
 2            NaN         9999-01-01      0  NaN               50
 3            NaN         9999-01-01      0  NaN               50
 4            NaN         9999-01-01      0  NaN               50
 ...          ...                ...    ...  ...              ...
 368507       NaN         9999-01-01      0  NaN               50
 368508       NaN         9999-01-01      0  NaN               50
 368509       NaN         9999-01-01      0  NaN               50
 368510       NaN         9999-01-01      0  NaN               50
 368511       NaN         9999-01-01      0  NaN               50

        devicePairingCount  devicePairingMonth       Fecha
 0                       5             0000-00  2024-12-03
 1                       5             0000-00  2024-12-03
 2                       5             0000-00  2024-12-03
 3                      50             2024-04  2024-12-03
 4                      49             2023-09  2024-12-03
 ...                   ...                 ...         ...
 368507                 50             2024-09  2024-12-03
 368508                 50             2024-10  2024-12-03
 368509                 50             2024-07  2024-12-03
 368510                 49             2024-10  2024-12-03
 368511                 50             2024-10  2024-12-03

 [368512 rows x 42 columns],
                 id  active  activeTo                              login  \
 0             2887       1       NaN                  YOLANDA@GMAIL.COM
 1             3217       1       NaN           MARYCAR_1989@HOTMAIL.COM
 2             9076       1       NaN  ANARELYSDELCARMENSANOYA@GMAIL.COM
 3            13143       1       NaN         NURISROMERO19631@GMAIL.COM
 4            15176       1       NaN             PINUCCIA81@HOTMAIL.COM
 ...            ...     ...       ...                                ...
 369813  1999961837       1       NaN                 Jdrm1956@Gmail.Com
 369814  1999962845       1       NaN      ALEXANDERPULGAR2023@GMAIL.COM
 369815  1999969825       1       NaN          nayreevirguez@hotmail.com
 369816  1999971733       1       NaN           YNGRIDVEGA1976@GMAIL.COM
 369817  1999988576       1       NaN               CESAR31222@GMAIL.COM

                                     email  \
 0                       YOLANDA@GMAIL.COM
 1                MARYCAR_1989@HOTMAIL.COM
 2       ANARELYSDELCARMENSANOYA@GMAIL.COM
 3              NURISROMERO19631@GMAIL.COM
 4                  PINUCCIA81@HOTMAIL.COM
 ...                                   ...
 369813                 Jdrm1956@Gmail.Com
 369814      ALEXANDERPULGAR2023@GMAIL.COM
 369815          nayreevirguez@hotmail.com
 369816           YNGRIDVEGA1976@GMAIL.COM
 369817               CESAR31222@GMAIL.COM

                                         password                  salt  \
 0       8310b5f97d061a373667fd2d418663bf961a49e1                   NaN
 1       0e4aec2e0701c7e2eba9d394cfe55bd444a7960e  4edf52dc0cec532a959f
 2       8310b5f97d061a373667fd2d418663bf961a49e1                   NaN
 3       2b028d56acd0bb9654c5e27b9b5937b793b302df                   NaN
 4       cab19843373c53e2890dc6d48b47bf033488b925  5c0f695311b314b0c90a
 ...                                          ...                   ...
 369813  1b84adba1c394882aa4136c844291b67f712219b                   NaN
 369814  8216f54cc93beffce7791f3deebf5703c7d52872                   NaN
 369815  840bd035437f0cf97bb94f33820d84125f7bd459  2062803bf6ab37a4c448
 369816  8f52a600c3eb4db763f9a74dff3eaa3b119910ca  34bcde9d22bfa4597704
 369817  54a56f67a1756991259d3b734a1c0aeef4cb406a                   NaN

                  registered  campaign  partner  ... comment  removed  \
 0       2024-10-29 21:56:53       NaN     1331  ...     NaN      NaN
 1       2023-11-13 10:35:37       NaN        1  ...     NaN      NaN
 2       2024-11-01 07:35:57       NaN     1331  ...     NaN      NaN
 3       2024-04-30 21:56:52       NaN     1327  ...     NaN      NaN
 4       2023-09-12 14:48:45       NaN        1  ...     NaN      NaN
 ...                     ...       ...      ...  ...     ...      ...
 369813  2023-12-10 17:47:57       NaN     1327  ...     NaN      NaN
 369814  2024-04-11 12:18:48       NaN     1327  ...     NaN      NaN
 369815  2023-10-27 14:01:42       NaN        1  ...     NaN      NaN
 369816  2024-10-23 09:15:38       NaN        1  ...     NaN      NaN
 369817  2024-10-15 07:52:16       NaN     1327  ...     NaN      NaN

         oldLogin  partnerActivation public tags deviceCountLimit  \
 0            NaN         9999-01-01      0  NaN               50
 1            NaN         9999-01-01      0  NaN               50
 2            NaN         9999-01-01      0  NaN               50
 3            NaN         9999-01-01      0  NaN               50
 4            NaN         9999-01-01      0  NaN               50
 ...          ...                ...    ...  ...              ...
 369813       NaN         9999-01-01      0  NaN               50
 369814       NaN         9999-01-01      0  NaN               50
 369815       NaN         9999-01-01      0  NaN               50
 369816       NaN         9999-01-01      0  NaN               50
 369817       NaN         9999-01-01      0  NaN               50

        devicePairingCount  devicePairingMonth       Fecha
 0                       5             0000-00  2024-12-04
 1                       5             0000-00  2024-12-04
 2                       5             0000-00  2024-12-04
 3                      50             2024-04  2024-12-04
 4                      49             2023-09  2024-12-04
 ...                   ...                 ...         ...
 369813                 50             2024-09  2024-12-04
 369814                 50             2024-10  2024-12-04
 369815                 50             2024-07  2024-12-04
 369816                 49             2024-10  2024-12-04
 369817                 50             2024-10  2024-12-04

 [369818 rows x 42 columns],
                 id  active  activeTo                              login  \
 0             2887       1       NaN                  YOLANDA@GMAIL.COM
 1             3217       1       NaN           MARYCAR_1989@HOTMAIL.COM
 2             9076       1       NaN  ANARELYSDELCARMENSANOYA@GMAIL.COM
 3            13143       1       NaN         NURISROMERO19631@GMAIL.COM
 4            15176       1       NaN             PINUCCIA81@HOTMAIL.COM
 ...            ...     ...       ...                                ...
 370651  1999961837       1       NaN                 Jdrm1956@Gmail.Com
 370652  1999962845       1       NaN      ALEXANDERPULGAR2023@GMAIL.COM
 370653  1999969825       1       NaN          nayreevirguez@hotmail.com
 370654  1999971733       1       NaN           YNGRIDVEGA1976@GMAIL.COM
 370655  1999988576       1       NaN               CESAR31222@GMAIL.COM

                                     email  \
 0                       YOLANDA@GMAIL.COM
 1                MARYCAR_1989@HOTMAIL.COM
 2       ANARELYSDELCARMENSANOYA@GMAIL.COM
 3              NURISROMERO19631@GMAIL.COM
 4                  PINUCCIA81@HOTMAIL.COM
 ...                                   ...
 370651                 Jdrm1956@Gmail.Com
 370652      ALEXANDERPULGAR2023@GMAIL.COM
 370653          nayreevirguez@hotmail.com
 370654           YNGRIDVEGA1976@GMAIL.COM
 370655               CESAR31222@GMAIL.COM


In [29]:


# Combina todos los DataFrames en un único DataFrame
df_combinado = pd.concat(dataframes, ignore_index=True)

# Muestra el resultado
print(df_combinado)

                 id  active  activeTo                              login  \
0              2887       1       NaN                  YOLANDA@GMAIL.COM
1              3217       1       NaN           MARYCAR_1989@HOTMAIL.COM
2              9076       1       NaN  ANARELYSDELCARMENSANOYA@GMAIL.COM
3             13143       1       NaN         NURISROMERO19631@GMAIL.COM
4             15176       1       NaN             PINUCCIA81@HOTMAIL.COM
...             ...     ...       ...                                ...
2585556  1999961837       1       NaN                 Jdrm1956@Gmail.Com
2585557  1999962845       1       NaN      ALEXANDERPULGAR2023@GMAIL.COM
2585558  1999969825       1       NaN          nayreevirguez@hotmail.com
2585559  1999971733       1       NaN           YNGRIDVEGA1976@GMAIL.COM
2585560  1999988576       1       NaN               CESAR31222@GMAIL.COM

                                     email  \
0                        YOLANDA@GMAIL.COM
1                 MARYCAR_1989@HOTMAIL.COM
2        ANARELYSDELCARMENSANOYA@GMAIL.COM
3               NURISROMERO19631@GMAIL.COM
4                   PINUCCIA81@HOTMAIL.COM
...                                    ...
2585556                 Jdrm1956@Gmail.Com
2585557      ALEXANDERPULGAR2023@GMAIL.COM
2585558          nayreevirguez@hotmail.com
2585559           YNGRIDVEGA1976@GMAIL.COM
2585560               CESAR31222@GMAIL.COM

                                         password                  salt  \
0        8310b5f97d061a373667fd2d418663bf961a49e1                   NaN
1        0e4aec2e0701c7e2eba9d394cfe55bd444a7960e  4edf52dc0cec532a959f
2        8310b5f97d061a373667fd2d418663bf961a49e1                   NaN
3        2b028d56acd0bb9654c5e27b9b5937b793b302df                   NaN
4        cab19843373c53e2890dc6d48b47bf033488b925  5c0f695311b314b0c90a
...                                           ...                   ...
2585556  1b84adba1c394882aa4136c844291b67f712219b                   NaN
2585557  8216f54cc93beffce7791f3deebf5703c7d52872                   NaN
2585558  840bd035437f0cf97bb94f33820d84125f7bd459  2062803bf6ab37a4c448
2585559  8f52a600c3eb4db763f9a74dff3eaa3b119910ca  34bcde9d22bfa4597704
2585560  54a56f67a1756991259d3b734a1c0aeef4cb406a                   NaN

                  registered  campaign  partner  ... comment  removed  \
0        2024-10-29 21:56:53       NaN     1331  ...     NaN      NaN
1        2023-11-13 10:35:37       NaN        1  ...     NaN      NaN
2        2024-11-01 07:35:57       NaN     1331  ...     NaN      NaN
3        2024-04-30 21:56:52       NaN     1327  ...     NaN      NaN
4        2023-09-12 14:48:45       NaN        1  ...     NaN      NaN
...                      ...       ...      ...  ...     ...      ...
2585556  2023-12-10 17:47:57       NaN     1327  ...     NaN      NaN
2585557  2024-04-11 12:18:48       NaN     1327  ...     NaN      NaN
2585558  2023-10-27 14:01:42       NaN        1  ...     NaN      NaN
2585559  2024-10-23 09:15:38       NaN        1  ...     NaN      NaN
2585560  2024-10-15 07:52:16       NaN     1327  ...     NaN      NaN

         oldLogin  partnerActivation public tags deviceCountLimit  \
0             NaN         9999-01-01      0  NaN               50
1             NaN         9999-01-01      0  NaN               50
2             NaN         9999-01-01      0  NaN               50
3             NaN         9999-01-01      0  NaN               50
4             NaN         9999-01-01      0  NaN               50
...           ...                ...    ...  ...              ...
2585556       NaN         9999-01-01      0  NaN               50
2585557       NaN         9999-01-01      0  NaN               50
2585558       NaN         9999-01-01      0  NaN               50
2585559       NaN         9999-01-01      0  NaN               50
2585560       NaN         9999-01-01      0  NaN               50

        devicePairingCount  devicePairingMonth       Fecha
0                        5             0000-00  2024-12-01
1                        5             0000-00  2024-12-01
2                        5             0000-00  2024-12-01
3                       50             2024-04  2024-12-01
4                       49             2023-09  2024-12-01
...                    ...                 ...         ...
2585556                 50             2024-09  2024-12-07
2585557                 50             2024-10  2024-12-07
2585558                 50             2024-07  2024-12-07
2585559                 49             2024-10  2024-12-07
2585560                 50             2024-10  2024-12-07

[2585561 rows x 42 columns]

In [28]:


def combinar_csv_y_agregar_fecha(ruta):
    """
    Combina todos los archivos CSV en una carpeta específica en un solo DataFrame
    y agrega una columna con una fecha extraída del nombre del archivo.

    Parámetros:
        ruta (str): Ruta de la carpeta donde se encuentran los archivos CSV.

    Retorna:
        pd.DataFrame: DataFrame combinado con los datos de todos los CSV en la carpeta,
                      incluyendo una columna "Fecha" extraída del nombre de los archivos.
                      Si no se encuentran archivos válidos, retorna None.
    """
    # Lista para almacenar DataFrames junto con la fecha
    dataframes = []

    # Verifica si la carpeta existe
    if os.path.exists(ruta):
        # Itera sobre todos los archivos en la carpeta
        for archivo in os.listdir(ruta):
            # Verifica si es un archivo CSV
            if archivo.endswith('.csv'):
                print(f"Procesando archivo: {archivo}")
                
                # Extrae la parte completa de la fecha del nombre del archivo
                nombre_sin_extension = os.path.splitext(archivo)[0]
                partes = nombre_sin_extension.split('-')  # Divide el nombre por guion

                # Verifica que haya al menos tres partes
                if len(partes) >= 3:
                    fecha = "-".join(partes[-3:])  # Toma las últimas tres partes y las une con guiones
                    print(f"Fecha extraída: {fecha}")
                    
                    # Carga el archivo CSV en un DataFrame
                    try:
                        df = pd.read_csv(os.path.join(ruta, archivo), sep=";", on_bad_lines='skip')
                        # Agrega la fecha como una nueva columna al DataFrame
                        df['fecha'] = fecha
                        # Guarda el DataFrame en la lista
                        dataframes.append(df)
                    except Exception as e:
                        print(f"Error al procesar el archivo {archivo}: {e}")
                else:
                    print(f"No se pudo identificar la fecha en el archivo: {archivo}")
        # Combina todos los DataFrames si existen
        if dataframes:
            df_combinado = pd.concat(dataframes, ignore_index=True)
            return df_combinado
        else:
            print("No se encontraron archivos CSV válidos en la carpeta.")
            return None
    else:
        print("La carpeta no existe.")
        return None

In [29]:
df = combinar_csv_y_agregar_fecha(carpeta)

Procesando archivo: Users-2024-12-01.csv
Fecha extraída: 2024-12-01

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_17760\2761333816.py:36: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(ruta, archivo), sep=";", on_bad_lines='skip')

Procesando archivo: Users-2024-12-02.csv
Fecha extraída: 2024-12-02

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_17760\2761333816.py:36: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(ruta, archivo), sep=";", on_bad_lines='skip')

Procesando archivo: Users-2024-12-03.csv
Fecha extraída: 2024-12-03

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_17760\2761333816.py:36: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(ruta, archivo), sep=";", on_bad_lines='skip')

Procesando archivo: Users-2024-12-04.csv
Fecha extraída: 2024-12-04

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_17760\2761333816.py:36: DtypeWarning: Columns (14,22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(ruta, archivo), sep=";", on_bad_lines='skip')

Procesando archivo: Users-2024-12-05.csv
Fecha extraída: 2024-12-05

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_17760\2761333816.py:36: DtypeWarning: Columns (14,22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(ruta, archivo), sep=";", on_bad_lines='skip')

Procesando archivo: Users-2024-12-06.csv
Fecha extraída: 2024-12-06

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_17760\2761333816.py:36: DtypeWarning: Columns (14,22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(ruta, archivo), sep=";", on_bad_lines='skip')

Procesando archivo: Users-2024-12-07.csv
Fecha extraída: 2024-12-07

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_17760\2761333816.py:36: DtypeWarning: Columns (14,22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(ruta, archivo), sep=";", on_bad_lines='skip')

In [30]:
def procesar_dataframe_usuarios(dataframe):
    """
    Procesa un DataFrame de usuarios renombrando la columna 'id' a 'idusuarios'
    y conservando únicamente las columnas especificadas.

    Parámetros:
        dataframe (pd.DataFrame): El DataFrame que se desea procesar.

    Retorna:
        pd.DataFrame: El DataFrame procesado con las columnas ajustadas.
    """
    # Renombrar la columna 'id' a 'idusuarios'
    dataframe.rename(columns={'id': 'idusuarios'}, inplace=True)
    
    # Conservar solo las columnas especificadas
    columnas_a_conservar = ['idusuarios', 'active', 'registered', 'city', 'country', 'fecha']
    dataframe = dataframe.loc[:, columnas_a_conservar]
    
    return dataframe

In [31]:
df= procesar_dataframe_usuarios(df)

In [48]:
estados_venezuela= {
    "Amazonas": ["puerto ayacucho", "guayana"],
    "Anzoátegui": ["el trigre", "anaco", "barcelona", "el tigrito", "lecheria", "puerto la cruz", "aragua de barcelona"],
    "Apure": ["san fernando de apure", "san fernando", "araure"],
    "Aragua": ["maracay", "palo negro", "turmero", "maeacay", "la victoria", "cagua", "la morita1", "aragua", "la victoria edo aragua", "maracay.", "el consejo estado aragua", "santa rita maracay", "turmero, estado aragua", "la victoria aragua", "maracay- turmero", "palo negrro", "santa rita aragua", "yagua", "palo negro, aragua", "el limón", "maracay edo aragua", "msracay", "msracay", "palo negro - aragua", "maracay aragua", "caguas"],
    "Barinas": ["barinas"],
    "Bolívar": ["puerto ordaz", "ciudad bolivar", "ciudad guayana", "ciudad bolívar"],
    "Carabobo": ["moron", "valencia", "guacara", "montalban", "puerto cabello", "carabobo", "naguanagua", "puerto cabello carabobo", "carrizal", "san diego", "los guayos", "valencia edo. carabobo", "valencia, naguanagua", "valencia. venezuela", "valencia. venezuela", "san joaquin", "san diego de los altos", "valencia estado carabobo", "valencia, los guayos", "valencia, edo. carabobo", "san joaquin, estado carabobo", "ciudad alianza", "naguanagua. estado carabobo", "puerto cabell", "san joaquin*", "san joaquin", "valencia, carabobo", "nagauanagua", "ciudad zamora mzna. 4-f", "san digo", "san diego carabobo", "nagua", "urb. el bosque. valencia edo. carabobo", "guacara edo carabobo", "puerto cabello", "valenciq","valencia,  naguanagua","valencia , los guayos","san joaquín","guacaipuro","puerto  cabello"],
    "Cojedes": ["san carlos", "tinaco", "tinaquillo"],
    "Delta Amacuro": ["tucupita"],
    "Desconocidos": ["NaN","desconocido", "primero de mayo", "venezuela", "urb. los cocos sur", "la vaquera", "cjto. res. ops torre 3", "468", "el consejo", "palavecino", "allen", "san rafael de carvajal,/ carvajal", "11201663", "mario briceño iragorry", "cordero lomas blanca", "la concepcion", "13912257", "barcel", "el concejo", "libertad", "30", "275", "hhhhhh", "plc", "la concepción", "parroquia santa teresa", "peribeca", "san rafael del mojan", "4", "ciudad", "ed. mar azul t-b"],
    "Falcón": ["punto fijo", "churuguara", "coro", "chichiriviche", "la vela de coro", "santa ana de coro"],
    "Guárico": ["san juan de los morros", "altagracia de orituco"],
    "Lara": ["carora", "cabudare", "barquisimeto", "barquisimeto gxtest2al", "barquisimeto gxtes2al", "cabudare estado lara", "iribarren", "cabude", "barquisimeto*", "bqto"],
    "Mérida": ["merida", "mérida", "el vigia", "ejido, mérida", "mérida, venezuela"],
    "Miranda": ["guanares", "charallave", "los teques", "guatire", "miranda", "san antonio de los altos", "carrizal, estado miranda", "guarenas, miranda", "cuarenas", "guarenas, edo. miranda", "ciudad casarapa", "ocumare del tuy", "mariche", "guatires", "san antonio", "san josé d/los altos", "gurenas", "san josé de los altos", "los teqes", "guatire, edo miranda, venezuela", "*los teques", "guatire, edo. miranda. venezuela", "altos mirandinos", "higuerote"],
    "Monagas": ["maturin", "maturín"],
    "Nueva Esparta": ["margarita", "porlamar", "pampatar", "catia la mar"],
    "Portuguesa": ["guanare", "acarigua"],
    "Sucre": ["cumana", "cumanacoa", "municipio sucre", "carupano", "cumaná", "sucre"],
    "Táchira": ["san cristobal", "san cristóbal", "tachira", "capacho", "tariba", "los rastrojos", "cordero", "táriba", "caneyes", "táchira", "tucape", "san rafael cárdenas tachira venezuela", "san cristobal edo tachira", "capacho viejo", "san cristobal de tac"],
    "Trujillo": ["valera"],
    "Vargas (La Guaira)": ["la guaira", "vargas", "maiquetía, estado la guaira"],
    "Yaracuy": ["san felipe", "chivacoa", "yaritagua"],
    "Zulia": ["cabimas", "maracaibo", "zulia", "ciudad ojeda", "santa rita", "ciudad ojeda.", "ojeda", "maraxaibo", "maracaibo*"],
    "Distrito Capital (Caracas)": ["caracas", "caracass", "el hatillo", "csracas", "la tahona", "edif virrey, calle caurimare , caracas", "gran caracas", "caracas venezuela", "caricuao", "baruta", "libertador", "caracas gxtest2al", "distrito capital", "caracs", "caracas (miranda)", "maracas", "el hatillo-la unión", "baracas", "chacao", "la candelaria", "carcas", "municipio el hatillo", "caracas-baruta", "ccs", "la candelaria mbi", "el hatillo la unión corralito", "caraacs", "lagunillas", "caracas09966564", "caracas,", "caracas, el hatillo", "lagunillas", "urb. libertadores", "cara as", "caracas (d.c.)"],
    "Internacionales": ["santiago", "la paz", "palmira", "ejido", "bogota", "sn francisco", "chile", "zamora", "miami", "san francisco", "girardot", "san. francisco"]
}

In [59]:
def mapear_ciudades_a_estados(df, estados_venezuela):
    """
    Mapea las ciudades en la columna 'city' a sus estados correspondientes
    según el diccionario proporcionado.

    Parámetros:
        df (pd.DataFrame): DataFrame que contiene la columna 'city'.
        estados_venezuela (dict): Diccionario que relaciona los estados con sus ciudades.

    Retorna:
        pd.DataFrame: DataFrame con la columna 'city' corregida.
    """
    # Crear un diccionario inverso donde cada ciudad apunta a su estado
    ciudad_a_estado = {ciudad.lower(): estado for estado, ciudades in estados_venezuela.items() for ciudad in ciudades}
    
    # Aplicar el mapeo en la columna 'city'
    df['city'] = df['city'].str.lower().map(ciudad_a_estado).fillna(df['city'])
    
    return df

In [61]:
def rellenar_valores_nulos(df):
    """
    Rellena los valores nulos en la columna 'city' con 'DESCONOCIDOS'.

    Parámetros:
        df (pd.DataFrame): DataFrame que contiene la columna 'city'.

    Retorna:
        pd.DataFrame: DataFrame con los valores nulos de 'city' rellenados.
    """
    df['city'] = df['city'].fillna("Desconocidos")
    return df

In [60]:
mapear_ciudades_a_estados(df,estados_venezuela)

,idusuarios,active,registered,city,country,fecha
0,2887,1,2024-10-29 21:56:53,Distrito Capital (Caracas),cz,2024-12-01
1,3217,1,2023-11-13 10:35:37,NaN,cz,2024-12-01
2,9076,1,2024-11-01 07:35:57,Distrito Capital (Caracas),cz,2024-12-01
3,13143,1,2024-04-30 21:56:52,Zulia,cz,2024-12-01
4,15176,1,2023-09-12 14:48:45,NaN,cz,2024-12-01
...,...,...,...,...,...,...
2585556,1999961837,1,2023-12-10 17:47:57,Los Teques,ve,2024-12-07
2585557,1999962845,1,2024-04-11 12:18:48,Falcón,cz,2024-12-07
2585558,1999969825,1,2023-10-27 14:01:42,NaN,cz,2024-12-07
2585559,1999971733,1,2024-10-23 09:15:38,NaN,ve,2024-12-07
2585560,1999988576,1,2024-10-15 07:52:16,Distrito Capital (Caracas),ve,2024-12-07

In [62]:
rellenar_valores_nulos(df)

,idusuarios,active,registered,city,country,fecha
0,2887,1,2024-10-29 21:56:53,Distrito Capital (Caracas),cz,2024-12-01
1,3217,1,2023-11-13 10:35:37,Desconocidos,cz,2024-12-01
2,9076,1,2024-11-01 07:35:57,Distrito Capital (Caracas),cz,2024-12-01
3,13143,1,2024-04-30 21:56:52,Zulia,cz,2024-12-01
4,15176,1,2023-09-12 14:48:45,Desconocidos,cz,2024-12-01
...,...,...,...,...,...,...
2585556,1999961837,1,2023-12-10 17:47:57,Los Teques,ve,2024-12-07
2585557,1999962845,1,2024-04-11 12:18:48,Falcón,cz,2024-12-07
2585558,1999969825,1,2023-10-27 14:01:42,Desconocidos,cz,2024-12-07
2585559,1999971733,1,2024-10-23 09:15:38,Desconocidos,ve,2024-12-07
2585560,1999988576,1,2024-10-15 07:52:16,Distrito Capital (Caracas),ve,2024-12-07

In [8]:
def procesar_dataframe_interacciones(df):
    """
    Procesa un DataFrame seleccionando columnas específicas y renombrando una columna.

    Parámetros:
        df (pd.DataFrame): DataFrame a procesar.

    Retorna:
        pd.DataFrame: El DataFrame procesado.
    """
    # Columnas a conservar
    columnas_deseadas = ['id', 'user', 'channel', 'from', 'duration', 'server', 'type', 'device', 'shared', 'state']
    
    # Seleccionar las columnas deseadas
    df = df.loc[:, columnas_deseadas]
    
    # Renombrar la columna 'user' a 'idusuarios'
    df.rename(columns={'user': 'idusuarios'}, inplace=True)
    
    return df

In [10]:
procesar_dataframe_interacciones(hab)

,id,idusuarios,channel,from,duration,server,type,device,shared,state
0,2630897996,822047708,VENEVISION:2024113048404199fd58ffb10fa06ec96f0...,2024-12-01 00:00:00,4000,83,storage,1844013721,1,active
1,2631546504,704036786,UNIVERSALHD:20241130fe677f7adc3d8a6c7c82521d78...,2024-12-01 00:00:00,2710,83,storage,526339700,1,active
2,2882499978,1060897311,TVFANB,2024-12-01 00:00:00,40,288,live,1159923727,1,active
3,2882500042,1532054829,COMEDY_CENTRAL:20241130d279eb03080cdc91c708349...,2024-12-01 00:00:00,1510,83,storage,1551956875,1,active
4,2882500106,1836469450,TELEVEN,2024-12-01 00:00:00,160,288,live,431606193,1,active
...,...,...,...,...,...,...,...,...,...,...
17401023,3409075205,1682134365,ELGOURMET:20241208f60d13c539b90adabf949ebe40b3...,2024-12-08 01:00:00,0,83,storage,407786682,1,active
17401024,3409083590,628106008,SONYMOVIES,2024-12-08 01:00:00,0,288,live,1965953775,1,active
17401025,3409133508,1512305880,AMC,2024-12-08 01:00:00,0,288,live,434446901,1,active
17401026,3409133572,432424274,TNTSERIES:20241208952c5bf01cf602f1a9654d193389...,2024-12-08 01:00:00,0,83,storage,1407435118,1,active
17401027,3409256899,533883848,SONYCHANNEL,2024-12-08 01:00:00,0,288,live,1911809085,1,active

In [9]:
print(hab.columns)

Index(['id', 'user', 'channel', 'from', 'duration', 'ip', 'server', 'type',
       'cookie', 'userAgent', 'device', 'shared', 'state', 'terminated'],
      dtype='object')

In [12]:
import os
import pandas as pd

def leer_unico_csv_canales(ruta):
    """
    Lee un único archivo CSV en una carpeta específica y lo carga en un DataFrame.

    Parámetros:
        ruta (str): Ruta de la carpeta donde se encuentra el archivo CSV.

    Retorna:
        pd.DataFrame: DataFrame cargado desde el archivo CSV.
                      Si no se encuentra el archivo o hay un error, retorna None.
    """
    # Verifica si la ruta existe
    if os.path.exists(ruta):
        # Lista los archivos en la carpeta
        archivos = [archivo for archivo in os.listdir(ruta) if archivo.endswith('.csv')]
        
        # Asegúrate de que solo hay un archivo CSV en la carpeta
        if len(archivos) == 1:
            archivo = archivos[0]
            print(f"Procesando archivo: {archivo}")
            
            # Intentar leer el archivo CSV
            try:
                df = pd.read_csv(os.path.join(ruta, archivo), sep=';', on_bad_lines='skip', low_memory=False)
                return df
            except Exception as e:
                print(f"Error al procesar el archivo {archivo}: {e}")
                return None
        elif len(archivos) == 0:
            print("No se encontró ningún archivo CSV en la carpeta.")
            return None
        else:
            print("Hay más de un archivo CSV en la carpeta. Por favor, asegúrate de que solo haya uno el mas actulizado.")
            return None
    else:
        print("La carpeta no existe.")
        return None

In [16]:
df_3 =leer_unico_csv_canales(carpeta_3)

Procesando archivo: Channels.csv

In [15]:
def seleccionar_columnas_canales(df):
    """
    Selecciona columnas específicas de un DataFrame.

    Parámetros:
        df (pd.DataFrame): DataFrame de entrada.

    Retorna:
        pd.DataFrame: DataFrame con solo las columnas seleccionadas.
    """
    # Definir las columnas deseadas
    columnas_deseadas = ['id', 'active', 'type', 'name', 'externalId', 'epgProviderId', 'channelGroup']
    
    # Verificar que las columnas existan en el DataFrame
    columnas_existentes = [col for col in columnas_deseadas if col in df.columns]
    
    # Seleccionar las columnas existentes
    df_modificado = df[columnas_existentes]
    
    return df_modificado

In [17]:
seleccionar_columnas_canales(df_3)

,id,active,type,name,externalId,epgProviderId,channelGroup
0,1_BASEBALL_NETWORK,1,tv,1 BASEBALL NETWORK HD,BYMSPORT_stream_nu,8802,Deportes
1,1_BASEBALL_NETWORK_NETUNO,1,tv,1 BASEBALL NETWORK,ONE_BASEBALL_HD_stream_8v,8802,Deportes
2,24HORAS,1,tv,24 HORAS,24HORAS_stream_jy,281,Internacionales
3,A3CINE,1,tv,A3CINE HD,A3CINE_stream_lb,3627,Series
4,A3SERIES,1,tv,A3 SERIES HD,A3SERIES_stream_ps,3149,Peliculas
...,...,...,...,...,...,...,...
244,VMAS_TV,1,tv,V+ TV HD,VMAS_TV_stream_ma,\N,Variedades
245,VTV,1,tv,VTV,VTV_stream_eo,420,Nacionales
246,WARNERCHANNEL,1,tv,WARNER CHANNEL FHD,WARNERCHANNEL_stream_fy,466,Series
247,WARNER_HD_INTER,1,tv,WARNER HD,WARNER_HD_INTER_stream_lg,466,Series
248,WOBI,1,tv,WOBI HD,WOBI_stream_me,723,Variedades

In [18]:
import os
import pandas as pd

def guardar_dataframe_interactivo(df, ruta_carpeta):
    """
    Guarda un DataFrame en un archivo CSV en una carpeta específica.
    Solicita al usuario el nombre del archivo. Si la carpeta no existe, la crea.

    Parámetros:
        df (pd.DataFrame): El DataFrame a guardar.
        ruta_carpeta (str): Ruta de la carpeta donde se guardará el archivo. Por defecto es 'new_data'.

    Retorna:
        str: Ruta completa del archivo guardado.
    """
    # Pedir al usuario el nombre del archivo
    nombre_archivo = input("Por favor, introduce el nombre del archivo (con extensión .csv): ")
    
    # Asegurarse de que el nombre del archivo termine con '.csv'
    if not nombre_archivo.endswith('.csv'):
        nombre_archivo += '.csv'
    
    # Verificar si la carpeta existe; si no, crearla
    if not os.path.exists(ruta_carpeta):
        os.makedirs(ruta_carpeta)
        print(f"Carpeta creada: {ruta_carpeta}")
    else:
        print(f"Carpeta existente: {ruta_carpeta}")
    
    # Construir la ruta completa del archivo
    ruta_completa = os.path.join(ruta_carpeta, nombre_archivo)
    
    # Guardar el DataFrame en un archivo CSV con el separador ';'
    df.to_csv(ruta_completa, sep=';', index=False)
    print(f"Archivo guardado en: {ruta_completa}")
    
    return ruta_completa

In [64]:
carpeta_4="../data/new_data"

In [65]:
guardar_dataframe_interactivo(df_3,carpeta)

Por favor, introduce el nombre del archivo (con extensión .csv): s
Carpeta existente: ../data/Usuarios
Archivo guardado en: ../data/Usuarios\s.csv

'../data/Usuarios\\s.csv'

# prueba de pip line

In [ ]:
# Especifica la ruta de la carpeta
carpeta = "../data/Usuarios"
carpeta_2 = "../data/tabala_de_hechos/Diciembre/Diciembre"
carpeta_3 = "../data/canales"

## Funciones

In [ ]:
combinar_csv_interacciones
combinar_csv_y_agregar_fecha
procesar_dataframe_interacciones
mapear_ciudades_a_estados
leer_unico_csv_canales
rellenar_valores_nulos
procesar_dataframe_usuarios

In [66]:
df_interacciones = combinar_csv_interacciones(carpeta_2)
df_interacciones_porcesado = procesar_dataframe_interacciones(df_interacciones)
guardar_dataframe_interactivo(df_interacciones_porcesado,carpeta_4)
df_usuarios = combinar_csv_y_agregar_fecha(carpeta)
df_usuarios_colum = procesar_dataframe_usuarios(df_usuarios)
df_usuarios_map = mapear_ciudades_a_estados(df_usuarios_colum,estados_venezuela)
df_usuarios_map_nulos = rellenar_valores_nulos(df_usuarios_map)
guardar_dataframe_interactivo(df_usuarios_map_nulos, carpeta_4)
df_canales = leer_unico_csv_canales(carpeta_3)
df_canales_new = seleccionar_columnas_canales(df_canales)
guardar_dataframe_interactivo(df_canales_new,carpeta_4)

Procesando archivo: channelUsage-2024-12-01.csv
Procesando archivo: channelUsage-2024-12-02.csv
Procesando archivo: channelUsage-2024-12-03.csv
Procesando archivo: channelUsage-2024-12-04.csv
Procesando archivo: channelUsage-2024-12-05.csv
Procesando archivo: channelUsage-2024-12-06.csv
Procesando archivo: channelUsage-2024-12-07.csv
Por favor, introduce el nombre del archivo (con extensión .csv): prueba
Carpeta existente: ../data/new_data
Archivo guardado en: ../data/new_data\prueba.csv
Procesando archivo: s.csv
No se pudo identificar la fecha en el archivo: s.csv
Procesando archivo: Users-2024-12-01.csv
Fecha extraída: 2024-12-01

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_17760\2761333816.py:36: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(ruta, archivo), sep=";", on_bad_lines='skip')

Procesando archivo: Users-2024-12-02.csv
Fecha extraída: 2024-12-02

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_17760\2761333816.py:36: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(ruta, archivo), sep=";", on_bad_lines='skip')

Procesando archivo: Users-2024-12-03.csv
Fecha extraída: 2024-12-03

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_17760\2761333816.py:36: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(ruta, archivo), sep=";", on_bad_lines='skip')

Procesando archivo: Users-2024-12-04.csv
Fecha extraída: 2024-12-04

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_17760\2761333816.py:36: DtypeWarning: Columns (14,22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(ruta, archivo), sep=";", on_bad_lines='skip')

Procesando archivo: Users-2024-12-05.csv
Fecha extraída: 2024-12-05

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_17760\2761333816.py:36: DtypeWarning: Columns (14,22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(ruta, archivo), sep=";", on_bad_lines='skip')

Procesando archivo: Users-2024-12-06.csv
Fecha extraída: 2024-12-06

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_17760\2761333816.py:36: DtypeWarning: Columns (14,22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(ruta, archivo), sep=";", on_bad_lines='skip')

Procesando archivo: Users-2024-12-07.csv
Fecha extraída: 2024-12-07

C:\Users\Jose Luis\AppData\Local\Temp\ipykernel_17760\2761333816.py:36: DtypeWarning: Columns (14,22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(ruta, archivo), sep=";", on_bad_lines='skip')

Por favor, introduce el nombre del archivo (con extensión .csv): hola
Carpeta existente: ../data/new_data
Archivo guardado en: ../data/new_data\hola.csv
Procesando archivo: Channels.csv
Por favor, introduce el nombre del archivo (con extensión .csv): prueba dos
Carpeta existente: ../data/new_data
Archivo guardado en: ../data/new_data\prueba dos.csv

'../data/new_data\\prueba dos.csv'